
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Harvard University</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Harvard University &nbsp</h2>
       <p>paper number:61051</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=george+m+whitesides" target="_blank">george m whitesides</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=george+m+whitesides+harvard+university" target = "_blank">36814</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=charles+m+lieber" target="_blank">charles m lieber</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=charles+m+lieber+harvard+university" target = "_blank">24075</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=martin+karplus" target="_blank">martin karplus</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=martin+karplus+harvard+university" target = "_blank">22798</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+p+mcmahon" target="_blank">andrew p mcmahon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+p+mcmahon+harvard+university" target = "_blank">14229</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+l+schacter" target="_blank">daniel l schacter</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+l+schacter+harvard+university" target = "_blank">13984</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=cumrun+vafa" target="_blank">cumrun vafa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=cumrun+vafa+harvard+university" target = "_blank">13937</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+j+jacob" target="_blank">daniel j jacob</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+j+jacob+harvard+university" target = "_blank">12223</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+a+weitz" target="_blank">david a weitz</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+a+weitz+harvard+university" target = "_blank">11942</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=william+s+lane" target="_blank">william s lane</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=william+s+lane+harvard+university" target = "_blank">11614</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=tom+maniatis" target="_blank">tom maniatis</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tom+maniatis+harvard+university" target = "_blank">9180</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=donald+b+rubin" target="_blank">donald b rubin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=donald+b+rubin+harvard+university" target = "_blank">9080</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+w+hutchinson" target="_blank">j w hutchinson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+w+hutchinson+harvard+university" target = "_blank">9021</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=stephen+m+kosslyn" target="_blank">stephen m kosslyn</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=stephen+m+kosslyn+harvard+university" target = "_blank">9004</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=howard+a+stone" target="_blank">howard a stone</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=howard+a+stone+harvard+university" target = "_blank">9000</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=stuart+l+schreiber" target="_blank">stuart l schreiber</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=stuart+l+schreiber+harvard+university" target = "_blank">7711</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=martin+a+nowak" target="_blank">martin a nowak</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=martin+a+nowak+harvard+university" target = "_blank">7635</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=william+klemperer" target="_blank">william klemperer</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=william+klemperer+harvard+university" target = "_blank">7472</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=bernard+r+brooks" target="_blank">bernard r brooks</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bernard+r+brooks+harvard+university" target = "_blank">7388</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrei+shleifer" target="_blank">andrei shleifer</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrei+shleifer+harvard+university" target = "_blank">7328</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+losick" target="_blank">richard losick</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+losick+harvard+university" target = "_blank">7080</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+h+knoll" target="_blank">andrew h knoll</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+h+knoll+harvard+university" target = "_blank">7056</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+l+hartl" target="_blank">daniel l hartl</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+l+hartl+harvard+university" target = "_blank">6822</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=steven+c+wofsy" target="_blank">steven c wofsy</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=steven+c+wofsy+harvard+university" target = "_blank">6757</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+e+bruccoleri" target="_blank">robert e bruccoleri</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+e+bruccoleri+harvard+university" target = "_blank">6414</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=barry+d+olafson" target="_blank">barry d olafson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=barry+d+olafson+harvard+university" target = "_blank">6410</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+swaminathan" target="_blank">s swaminathan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+swaminathan+harvard+university" target = "_blank">6399</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+j+states" target="_blank">david j states</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+j+states+harvard+university" target = "_blank">6397</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=todd+f+heatherton" target="_blank">todd f heatherton</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=todd+f+heatherton+harvard+university" target = "_blank">6340</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+rosenthal" target="_blank">robert rosenthal</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+rosenthal+harvard+university" target = "_blank">6229</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=marc+d+hauser" target="_blank">marc d hauser</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=marc+d+hauser+harvard+university" target = "_blank">5943</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=matt+welsh" target="_blank">matt welsh</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=matt+welsh+harvard+university" target = "_blank">5851</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=roy+g+gordon" target="_blank">roy g gordon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=roy+g+gordon+harvard+university" target = "_blank">5822</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=cheng+li" target="_blank">cheng li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=cheng+li+harvard+university" target = "_blank">5786</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=b+w+ellis" target="_blank">b w ellis</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=b+w+ellis+harvard+university" target = "_blank">5761</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=stefano+m+iacus" target="_blank">stefano m iacus</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=stefano+m+iacus+harvard+university" target = "_blank">5735</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=gordon+k+smyth" target="_blank">gordon k smyth</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gordon+k+smyth+harvard+university" target = "_blank">5685</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+gentleman" target="_blank">robert gentleman</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+gentleman+harvard+university" target = "_blank">5610</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+strominger" target="_blank">andrew strominger</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+strominger+harvard+university" target = "_blank">5590</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=rafael+a+irizarry" target="_blank">rafael a irizarry</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=rafael+a+irizarry+harvard+university" target = "_blank">5589</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=vincent+j+carey" target="_blank">vincent j carey</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=vincent+j+carey+harvard+university" target = "_blank">5569</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=douglas+m+bates" target="_blank">douglas m bates</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=douglas+m+bates+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=laurent+gautier" target="_blank">laurent gautier</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=laurent+gautier+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=gunther+sawitzki" target="_blank">gunther sawitzki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gunther+sawitzki+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=b+m+bolstad" target="_blank">b m bolstad</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=b+m+bolstad+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianhua+zhang" target="_blank">jianhua zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianhua+zhang+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+y+yang" target="_blank">j y yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+y+yang+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=colin+a+smith" target="_blank">colin a smith</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=colin+a+smith+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=luke+tierney" target="_blank">luke tierney</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=luke+tierney+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=yongchao+ge" target="_blank">yongchao ge</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yongchao+ge+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=sandrine+dudoit" target="_blank">sandrine dudoit</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sandrine+dudoit+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=anthony+rossini" target="_blank">anthony rossini</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=anthony+rossini+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=torsten+hothorn" target="_blank">torsten hothorn</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=torsten+hothorn+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=marcel+dettling" target="_blank">marcel dettling</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=marcel+dettling+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+gentry" target="_blank">j gentry</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+gentry+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=kurt+hornik" target="_blank">kurt hornik</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kurt+hornik+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=martin+maechler" target="_blank">martin maechler</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=martin+maechler+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=friedrich+leisch" target="_blank">friedrich leisch</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=friedrich+leisch+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=wolfgang+huber" target="_blank">wolfgang huber</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wolfgang+huber+harvard+university" target = "_blank">5568</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=x+sunney+xie" target="_blank">x sunney xie</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=x+sunney+xie+harvard+university" target = "_blank">5545</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=x+zhuang" target="_blank">x zhuang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=x+zhuang+harvard+university" target = "_blank">5471</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=eric+mazur" target="_blank">eric mazur</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=eric+mazur+harvard+university" target = "_blank">5327</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=nancy+kleckner" target="_blank">nancy kleckner</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nancy+kleckner+harvard+university" target = "_blank">5280</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=juan+maldacena" target="_blank">juan maldacena</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=juan+maldacena+harvard+university" target = "_blank">5269</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=jennifer+a+logan" target="_blank">jennifer a logan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jennifer+a+logan+harvard+university" target = "_blank">5114</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=randy+l+buckner" target="_blank">randy l buckner</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=randy+l+buckner+harvard+university" target = "_blank">5085</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhigang+suo" target="_blank">zhigang suo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhigang+suo+harvard+university" target = "_blank">5034</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=leslie+g+valiant" target="_blank">leslie g valiant</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=leslie+g+valiant+harvard+university" target = "_blank">4984</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=scott+v+edwards" target="_blank">scott v edwards</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=scott+v+edwards+harvard+university" target = "_blank">4943</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+p+schrag" target="_blank">daniel p schrag</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+p+schrag+harvard+university" target = "_blank">4779</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=mahzarin+r+banaji" target="_blank">mahzarin r banaji</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mahzarin+r+banaji+harvard+university" target = "_blank">4630</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangfeng+duan" target="_blank">xiangfeng duan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangfeng+duan+harvard+university" target = "_blank">4597</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=gregory+l+verdine" target="_blank">gregory l verdine</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gregory+l+verdine+harvard+university" target = "_blank">4562</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+s+oreilly" target="_blank">michael s oreilly</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+s+oreilly+harvard+university" target = "_blank">4556</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuen+shing" target="_blank">yuen shing</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuen+shing+harvard+university" target = "_blank">4556</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=kevin+eggan" target="_blank">kevin eggan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kevin+eggan+harvard+university" target = "_blank">4456</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=jack+l+strominger" target="_blank">jack l strominger</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jack+l+strominger+harvard+university" target = "_blank">4373</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=matthew+k+nock" target="_blank">matthew k nock</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=matthew+k+nock+harvard+university" target = "_blank">4363</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=f+a+bazzaz" target="_blank">f a bazzaz</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=f+a+bazzaz+harvard+university" target = "_blank">4359</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=jeffrey+d+sachs" target="_blank">jeffrey d sachs</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jeffrey+d+sachs+harvard+university" target = "_blank">4302</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianfang+wang" target="_blank">jianfang wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianfang+wang+harvard+university" target = "_blank">4276</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+cui" target="_blank">yi cui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+cui+harvard+university" target = "_blank">4263</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=ken+nakayama" target="_blank">ken nakayama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ken+nakayama+harvard+university" target = "_blank">4255</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+j+mooney" target="_blank">david j mooney</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+j+mooney+harvard+university" target = "_blank">4197</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+s+liu" target="_blank">jun s liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+s+liu+harvard+university" target = "_blank">4170</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=rafael+la+porta" target="_blank">rafael la porta</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=rafael+la+porta+harvard+university" target = "_blank">4168</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=gonzalo+giribet" target="_blank">gonzalo giribet</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gonzalo+giribet+harvard+university" target = "_blank">4091</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=alfonso+caramazza" target="_blank">alfonso caramazza</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=alfonso+caramazza+harvard+university" target = "_blank">4063</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+j+mcnally" target="_blank">richard j mcnally</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+j+mcnally+harvard+university" target = "_blank">4020</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=a+m+dziewonski" target="_blank">a m dziewonski</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=a+m+dziewonski+harvard+university" target = "_blank">3917</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=e+bright+wilson" target="_blank">e bright wilson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=e+bright+wilson+harvard+university" target = "_blank">3813</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=jerome+kagan" target="_blank">jerome kagan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jerome+kagan+harvard+university" target = "_blank">3778</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=william+n+lipscomb" target="_blank">william n lipscomb</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=william+n+lipscomb+harvard+university" target = "_blank">3775</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=r+j+herrnstein" target="_blank">r j herrnstein</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=r+j+herrnstein+harvard+university" target = "_blank">3767</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=federico+capasso" target="_blank">federico capasso</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=federico+capasso+harvard+university" target = "_blank">3741</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=gary+king" target="_blank">gary king</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gary+king+harvard+university" target = "_blank">3737</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=elizabeth+s+spelke" target="_blank">elizabeth s spelke</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=elizabeth+s+spelke+harvard+university" target = "_blank">3735</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=a+g+evans" target="_blank">a g evans</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=a+g+evans+harvard+university" target = "_blank">3687</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=carol+s+dweck" target="_blank">carol s dweck</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=carol+s+dweck+harvard+university" target = "_blank">3661</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=joshua+r+sanes" target="_blank">joshua r sanes</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=joshua+r+sanes+harvard+university" target = "_blank">3646</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+w+wrangham" target="_blank">richard w wrangham</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+w+wrangham+harvard+university" target = "_blank">3634</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection from Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">I'm liukun, may be your potential friend</p>
  </footer>
</html>
