
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Hong Kong University of Science and Technology</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Hong Kong University of Science and Technology &nbsp</h2>
       <p>paper number:20020</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+yang" target="_blank">qiang yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+yang+hong+kong+university+of+science+and+technology" target = "_blank">7234</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=ben+zhong+tang" target="_blank">ben zhong tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ben+zhong+tang+hong+kong+university+of+science+and+technology" target = "_blank">6762</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=h+s+kwok" target="_blank">h s kwok</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=h+s+kwok+hong+kong+university+of+science+and+technology" target = "_blank">4957</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=shihe+yang" target="_blank">shihe yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shihe+yang+hong+kong+university+of+science+and+technology" target = "_blank">3693</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=ross+d+murch" target="_blank">ross d murch</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ross+d+murch+hong+kong+university+of+science+and+technology" target = "_blank">3447</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=dimitris+papadias" target="_blank">dimitris papadias</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dimitris+papadias+hong+kong+university+of+science+and+technology" target = "_blank">3433</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=jacky+w+y+lam" target="_blank">jacky w y lam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jacky+w+y+lam+hong+kong+university+of+science+and+technology" target = "_blank">3369</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=z+k+tang" target="_blank">z k tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=z+k+tang+hong+kong+university+of+science+and+technology" target = "_blank">3193</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+b+letaief" target="_blank">k b letaief</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+b+letaief+hong+kong+university+of+science+and+technology" target = "_blank">3185</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=g+k+l+wong" target="_blank">g k l wong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=g+k+l+wong+hong+kong+university+of+science+and+technology" target = "_blank">2916</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+k+chan" target="_blank">c k chan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+k+chan+hong+kong+university+of+science+and+technology" target = "_blank">2873</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=jangkyo+kim" target="_blank">jangkyo kim</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jangkyo+kim+hong+kong+university+of+science+and+technology" target = "_blank">2723</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+t+chan" target="_blank">c t chan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+t+chan+hong+kong+university+of+science+and+technology" target = "_blank">2687</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+sheng" target="_blank">ping sheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+sheng+hong+kong+university+of+science+and+technology" target = "_blank">2650</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=yufei+tao" target="_blank">yufei tao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yufei+tao+hong+kong+university+of+science+and+technology" target = "_blank">2644</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=gordon+mckay" target="_blank">gordon mckay</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gordon+mckay+hong+kong+university+of+science+and+technology" target = "_blank">2547</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=guohua+chen" target="_blank">guohua chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guohua+chen+hong+kong+university+of+science+and+technology" target = "_blank">2134</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=hai+yang" target="_blank">hai yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hai+yang+hong+kong+university+of+science+and+technology" target = "_blank">2119</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=dityan+yeung" target="_blank">dityan yeung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dityan+yeung+hong+kong+university+of+science+and+technology" target = "_blank">2017</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=hideomi+koinuma" target="_blank">hideomi koinuma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hideomi+koinuma+hong+kong+university+of+science+and+technology" target = "_blank">2011</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+ohtomo" target="_blank">akira ohtomo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+ohtomo+hong+kong+university+of+science+and+technology" target = "_blank">2011</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+li" target="_blank">bo li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+li+hong+kong+university+of+science+and+technology" target = "_blank">2000</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=m+kawasaki" target="_blank">m kawasaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=m+kawasaki+hong+kong+university+of+science+and+technology" target = "_blank">1989</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=wenxiong+wang" target="_blank">wenxiong wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wenxiong+wang+hong+kong+university+of+science+and+technology" target = "_blank">1985</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+zhang" target="_blank">qian zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+zhang+hong+kong+university+of+science+and+technology" target = "_blank">1976</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=yusaburo+segawa" target="_blank">yusaburo segawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yusaburo+segawa+hong+kong+university+of+science+and+technology" target = "_blank">1975</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=peiyuan+qian" target="_blank">peiyuan qian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=peiyuan+qian+hong+kong+university+of+science+and+technology" target = "_blank">1929</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaohong+yao" target="_blank">xiaohong yao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaohong+yao+hong+kong+university+of+science+and+technology" target = "_blank">1927</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=kar+yan+tam" target="_blank">kar yan tam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kar+yan+tam+hong+kong+university+of+science+and+technology" target = "_blank">1913</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=roger+s+cheng" target="_blank">roger s cheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=roger+s+cheng+hong+kong+university+of+science+and+technology" target = "_blank">1884</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=x+x+zhang" target="_blank">x x zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=x+x+zhang+hong+kong+university+of+science+and+technology" target = "_blank">1877</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+j+harrison" target="_blank">paul j harrison</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+j+harrison+hong+kong+university+of+science+and+technology" target = "_blank">1876</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=bing+xu" target="_blank">bing xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bing+xu+hong+kong+university+of+science+and+technology" target = "_blank">1746</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+lu" target="_blank">ping lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+lu+hong+kong+university+of+science+and+technology" target = "_blank">1716</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhenyang+lin" target="_blank">zhenyang lin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhenyang+lin+hong+kong+university+of+science+and+technology" target = "_blank">1666</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=ning+wang" target="_blank">ning wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ning+wang+hong+kong+university+of+science+and+technology" target = "_blank">1653</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=james+t+kwok" target="_blank">james t kwok</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=james+t+kwok+hong+kong+university+of+science+and+technology" target = "_blank">1627</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=yunhao+liu" target="_blank">yunhao liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yunhao+liu+hong+kong+university+of+science+and+technology" target = "_blank">1594</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=pin+tong" target="_blank">pin tong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=pin+tong+hong+kong+university+of+science+and+technology" target = "_blank">1594</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=james+y+l+thong" target="_blank">james y l thong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=james+y+l+thong+hong+kong+university+of+science+and+technology" target = "_blank">1578</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=yingyi+hong" target="_blank">yingyi hong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yingyi+hong+hong+kong+university+of+science+and+technology" target = "_blank">1571</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=joseph+m+schmitt" target="_blank">joseph m schmitt</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=joseph+m+schmitt+hong+kong+university+of+science+and+technology" target = "_blank">1558</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=weijia+wen" target="_blank">weijia wen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weijia+wen+hong+kong+university+of+science+and+technology" target = "_blank">1544</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=dik+lun+lee" target="_blank">dik lun lee</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dik+lun+lee+hong+kong+university+of+science+and+technology" target = "_blank">1532</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=king+lun+yeung" target="_blank">king lun yeung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=king+lun+yeung+hong+kong+university+of+science+and+technology" target = "_blank">1520</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=ming+fang" target="_blank">ming fang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ming+fang+hong+kong+university+of+science+and+technology" target = "_blank">1517</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=chiyue+chiu" target="_blank">chiyue chiu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chiyue+chiu+hong+kong+university+of+science+and+technology" target = "_blank">1496</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=philip+c+h+chan" target="_blank">philip c h chan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=philip+c+h+chan+hong+kong+university+of+science+and+technology" target = "_blank">1492</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=man+wong" target="_blank">man wong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=man+wong+hong+kong+university+of+science+and+technology" target = "_blank">1488</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=karl+w+k+tsim" target="_blank">karl w k tsim</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=karl+w+k+tsim+hong+kong+university+of+science+and+technology" target = "_blank">1436</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=mingjie+zhang" target="_blank">mingjie zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mingjie+zhang+hong+kong+university+of+science+and+technology" target = "_blank">1419</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+zhen+yu" target="_blank">jian zhen yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+zhen+yu+hong+kong+university+of+science+and+technology" target = "_blank">1416</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=lixin+wang" target="_blank">lixin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lixin+wang+hong+kong+university+of+science+and+technology" target = "_blank">1396</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=sinno+jialin+pan" target="_blank">sinno jialin pan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sinno+jialin+pan+hong+kong+university+of+science+and+technology" target = "_blank">1387</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=ming+l+liou" target="_blank">ming l liou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ming+l+liou+hong+kong+university+of+science+and+technology" target = "_blank">1383</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=lionel+m+ni" target="_blank">lionel m ni</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lionel+m+ni+hong+kong+university+of+science+and+technology" target = "_blank">1379</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+c+c+lam" target="_blank">david c c lam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+c+c+lam+hong+kong+university+of+science+and+technology" target = "_blank">1344</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=tongyi+zhang" target="_blank">tongyi zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tongyi+zhang+hong+kong+university+of+science+and+technology" target = "_blank">1321</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=ian+d+williams" target="_blank">ian d williams</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ian+d+williams+hong+kong+university+of+science+and+technology" target = "_blank">1291</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=a+c+m+chong" target="_blank">a c m chong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=a+c+m+chong+hong+kong+university+of+science+and+technology" target = "_blank">1263</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=cheong+yui+wong" target="_blank">cheong yui wong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=cheong+yui+wong+hong+kong+university+of+science+and+technology" target = "_blank">1262</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+chen" target="_blank">zheng chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+chen+hong+kong+university+of+science+and+technology" target = "_blank">1262</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+lim" target="_blank">andrew lim</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+lim+hong+kong+university+of+science+and+technology" target = "_blank">1259</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=long+quan" target="_blank">long quan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=long+quan+hong+kong+university+of+science+and+technology" target = "_blank">1248</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=kam+sing+wong" target="_blank">kam sing wong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kam+sing+wong+hong+kong+university+of+science+and+technology" target = "_blank">1247</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=ishfaq+ahmad" target="_blank">ishfaq ahmad</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ishfaq+ahmad+hong+kong+university+of+science+and+technology" target = "_blank">1242</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+r+landry" target="_blank">michael r landry</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+r+landry+hong+kong+university+of+science+and+technology" target = "_blank">1234</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=yang+leng" target="_blank">yang leng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yang+leng+hong+kong+university+of+science+and+technology" target = "_blank">1222</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=mansun+chan" target="_blank">mansun chan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mansun+chan+hong+kong+university+of+science+and+technology" target = "_blank">1221</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=adrian+marchetti" target="_blank">adrian marchetti</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=adrian+marchetti+hong+kong+university+of+science+and+technology" target = "_blank">1211</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+b+lataief" target="_blank">k b lataief</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+b+lataief+hong+kong+university+of+science+and+technology" target = "_blank">1192</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+yu" target="_blank">peng yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+yu+hong+kong+university+of+science+and+technology" target = "_blank">1186</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+tsuda" target="_blank">atsushi tsuda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+tsuda+hong+kong+university+of+science+and+technology" target = "_blank">1182</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=kevin+j+chen" target="_blank">kevin j chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kevin+j+chen+hong+kong+university+of+science+and+technology" target = "_blank">1174</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=chishing+wong" target="_blank">chishing wong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chishing+wong+hong+kong+university+of+science+and+technology" target = "_blank">1173</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+nishioka" target="_blank">jun nishioka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+nishioka+hong+kong+university+of+science+and+technology" target = "_blank">1167</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=maurice+levasseur" target="_blank">maurice levasseur</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=maurice+levasseur+hong+kong+university+of+science+and+technology" target = "_blank">1157</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=philip+w+boyd" target="_blank">philip w boyd</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=philip+w+boyd+hong+kong+university+of+science+and+technology" target = "_blank">1157</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiong+luo" target="_blank">qiong luo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiong+luo+hong+kong+university+of+science+and+technology" target = "_blank">1152</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=klaas+r+timmermans" target="_blank">klaas r timmermans</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=klaas+r+timmermans+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=anya+m+waite" target="_blank">anya m waite</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=anya+m+waite+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=patrick+laan" target="_blank">patrick laan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=patrick+laan+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=frank+j+millero" target="_blank">frank j millero</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=frank+j+millero+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+saito" target="_blank">hiroaki saito</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+saito+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=philipp+assmy" target="_blank">philipp assmy</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=philipp+assmy+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=maxim+y+gorbunov" target="_blank">maxim y gorbunov</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=maxim+y+gorbunov+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=micha+j+a+rijkenberg" target="_blank">micha j a rijkenberg</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=micha+j+a+rijkenberg+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=mark+a+brzezinski" target="_blank">mark a brzezinski</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mark+a+brzezinski+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=frank+gervais" target="_blank">frank gervais</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=frank+gervais+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=marie+boye" target="_blank">marie boye</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=marie+boye+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigenobu+takeda" target="_blank">shigenobu takeda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigenobu+takeda+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+t+barber" target="_blank">richard t barber</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=richard+t+barber+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=hein+j+w+de+baar" target="_blank">hein j w de baar</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hein+j+w+de+baar+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=tim+van+oijen" target="_blank">tim van oijen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tim+van+oijen+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=marcel+j+w+veldhuis" target="_blank">marcel j w veldhuis</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=marcel+j+w+veldhuis+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=william+t+hiscock" target="_blank">william t hiscock</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=william+t+hiscock+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=ken+o+buesseler" target="_blank">ken o buesseler</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ken+o+buesseler+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=christiane+lancelot" target="_blank">christiane lancelot</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=christiane+lancelot+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=yann+bozec" target="_blank">yann bozec</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yann+bozec+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=kenneth+h+coale" target="_blank">kenneth h coale</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kenneth+h+coale+hong+kong+university+of+science+and+technology" target = "_blank">1146</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection of Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">Author: Liukun</p>
  </footer>
</html>
