
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Keio University</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Keio University &nbsp</h2>
       <p>paper number:29247</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=hideyuki+okano" target="_blank">hideyuki okano</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hideyuki+okano+keio+university" target = "_blank">11142</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=nobuyoshi+shimizu" target="_blank">nobuyoshi shimizu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nobuyoshi+shimizu+keio+university" target = "_blank">10095</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=masaru+tomita" target="_blank">masaru tomita</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masaru+tomita+keio+university" target = "_blank">8797</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=shuichi+asakawa" target="_blank">shuichi asakawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shuichi+asakawa+keio+university" target = "_blank">6939</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshifumi+hibi" target="_blank">toshifumi hibi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshifumi+hibi+keio+university" target = "_blank">5820</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiaki+toyama" target="_blank">yoshiaki toyama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiaki+toyama+keio+university" target = "_blank">5733</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeo+koyasu" target="_blank">shigeo koyasu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeo+koyasu+keio+university" target = "_blank">5044</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=shinsei+minoshima" target="_blank">shinsei minoshima</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shinsei+minoshima+keio+university" target = "_blank">4973</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+ikeda" target="_blank">yasuo ikeda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+ikeda+keio+university" target = "_blank">4521</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=masaki+kitajima" target="_blank">masaki kitajima</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masaki+kitajima+keio+university" target = "_blank">4306</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+tsubota" target="_blank">kazuo tsubota</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+tsubota+keio+university" target = "_blank">4217</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshio+suda" target="_blank">toshio suda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshio+suda+keio+university" target = "_blank">3710</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=masayuki+amagai" target="_blank">masayuki amagai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masayuki+amagai+keio+university" target = "_blank">3547</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=takeji+nishikawa" target="_blank">takeji nishikawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takeji+nishikawa+keio+university" target = "_blank">3528</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+shimizu" target="_blank">k shimizu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+shimizu+keio+university" target = "_blank">3474</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiromasa+ishii" target="_blank">hiromasa ishii</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiromasa+ishii+keio+university" target = "_blank">3465</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+ogawa" target="_blank">satoshi ogawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+ogawa+keio+university" target = "_blank">3160</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=hirotada+mori" target="_blank">hirotada mori</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hirotada+mori+keio+university" target = "_blank">3143</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasunori+okada" target="_blank">yasunori okada</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasunori+okada+keio+university" target = "_blank">3032</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=keiyo+takubo" target="_blank">keiyo takubo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=keiyo+takubo+keio+university" target = "_blank">3017</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshikuni+mizuno" target="_blank">yoshikuni mizuno</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshikuni+mizuno+keio+university" target = "_blank">3011</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=nobutaka+hattori" target="_blank">nobutaka hattori</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nobutaka+hattori+keio+university" target = "_blank">2974</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+saruta" target="_blank">takao saruta</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+saruta+keio+university" target = "_blank">2892</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=mikiko+c+siomi" target="_blank">mikiko c siomi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mikiko+c+siomi+keio+university" target = "_blank">2859</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=fumio+arai" target="_blank">fumio arai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fumio+arai+keio+university" target = "_blank">2855</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=keiichi+fukuda" target="_blank">keiichi fukuda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=keiichi+fukuda+keio+university" target = "_blank">2817</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+suematsu" target="_blank">makoto suematsu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+suematsu+keio+university" target = "_blank">2710</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+kudoh" target="_blank">jun kudoh</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+kudoh+keio+university" target = "_blank">2666</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=tomoyoshi+soga" target="_blank">tomoyoshi soga</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tomoyoshi+soga+keio+university" target = "_blank">2665</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=tomoya+baba" target="_blank">tomoya baba</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tomoya+baba+keio+university" target = "_blank">2635</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=masaya+nakamura" target="_blank">masaya nakamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masaya+nakamura+keio+university" target = "_blank">2514</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuki+takai" target="_blank">yuki takai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuki+takai+keio+university" target = "_blank">2499</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=masataka+kuwana" target="_blank">masataka kuwana</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masataka+kuwana+keio+university" target = "_blank">2471</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=miki+hasegawa" target="_blank">miki hasegawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=miki+hasegawa+keio+university" target = "_blank">2446</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=kouhei+ohnishi" target="_blank">kouhei ohnishi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kouhei+ohnishi+keio+university" target = "_blank">2385</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=takeshi+ara" target="_blank">takeshi ara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takeshi+ara+keio+university" target = "_blank">2384</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=sahoko+matsuoka" target="_blank">sahoko matsuoka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sahoko+matsuoka+keio+university" target = "_blank">2363</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuko+kitagawa" target="_blank">yuko kitagawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuko+kitagawa+keio+university" target = "_blank">2301</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+terauchi" target="_blank">yasuo terauchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+terauchi+keio+university" target = "_blank">2274</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoichi+nakayama" target="_blank">yoichi nakayama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoichi+nakayama+keio+university" target = "_blank">2156</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=keisuke+ito" target="_blank">keisuke ito</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=keisuke+ito+keio+university" target = "_blank">2125</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=junichiro+inoue" target="_blank">junichiro inoue</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junichiro+inoue+keio+university" target = "_blank">2123</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+hirao" target="_blank">atsushi hirao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+hirao+keio+university" target = "_blank">2122</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+imai" target="_blank">hiroaki imai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+imai+keio+university" target = "_blank">2116</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=akihiko+yoshimura" target="_blank">akihiko yoshimura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akihiko+yoshimura+keio+university" target = "_blank">2112</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=barry+l+wanner" target="_blank">barry l wanner</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=barry+l+wanner+keio+university" target = "_blank">2108</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=kirill+a+datsenko" target="_blank">kirill a datsenko</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kirill+a+datsenko+keio+university" target = "_blank">2099</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=michiie+sakamoto" target="_blank">michiie sakamoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michiie+sakamoto+keio+university" target = "_blank">2081</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshiaki+ohteki" target="_blank">toshiaki ohteki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshiaki+ohteki+keio+university" target = "_blank">2068</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiko+okumura" target="_blank">yoshiko okumura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiko+okumura+keio+university" target = "_blank">2053</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=miki+baba" target="_blank">miki baba</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=miki+baba+keio+university" target = "_blank">2053</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=mikio+eto" target="_blank">mikio eto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mikio+eto+keio+university" target = "_blank">2053</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=makio+mukai" target="_blank">makio mukai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=makio+mukai+keio+university" target = "_blank">2037</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+hara" target="_blank">kazuo hara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+hara+keio+university" target = "_blank">2031</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=p+skeldon" target="_blank">p skeldon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=p+skeldon+keio+university" target = "_blank">1919</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=junichi+hata" target="_blank">junichi hata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junichi+hata+keio+university" target = "_blank">1872</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuro+kubota" target="_blank">tetsuro kubota</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuro+kubota+keio+university" target = "_blank">1841</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kadowaki" target="_blank">takashi kadowaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kadowaki+keio+university" target = "_blank">1788</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=shinichiro+okamoto" target="_blank">shinichiro okamoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shinichiro+okamoto+keio+university" target = "_blank">1780</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=g+e+thompson" target="_blank">g e thompson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=g+e+thompson+keio+university" target = "_blank">1764</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshimasa+yamauchi" target="_blank">toshimasa yamauchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshimasa+yamauchi+keio+university" target = "_blank">1764</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=h+habazaki" target="_blank">h habazaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=h+habazaki+keio+university" target = "_blank">1763</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=tohru+kitada" target="_blank">tohru kitada</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tohru+kitada+keio+university" target = "_blank">1762</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuhiro+yamamura" target="_blank">yasuhiro yamamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuhiro+yamamura+keio+university" target = "_blank">1758</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroto+matsumine" target="_blank">hiroto matsumine</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroto+matsumine+keio+university" target = "_blank">1752</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=yutaka+kawakami" target="_blank">yutaka kawakami</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yutaka+kawakami+keio+university" target = "_blank">1741</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=eiji+kikuchi" target="_blank">eiji kikuchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=eiji+kikuchi+keio+university" target = "_blank">1736</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+hashimoto" target="_blank">takashi hashimoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+hashimoto+keio+university" target = "_blank">1729</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyuki+tobe" target="_blank">kazuyuki tobe</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyuki+tobe+keio+university" target = "_blank">1719</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+kitano" target="_blank">hiroaki kitano</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+kitano+keio+university" target = "_blank">1706</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=tsutomu+takeuchi" target="_blank">tsutomu takeuchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tsutomu+takeuchi+keio+university" target = "_blank">1704</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=minoru+obara" target="_blank">minoru obara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=minoru+obara+keio+university" target = "_blank">1697</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshio+suda" target="_blank">toshio suda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshio+suda+keio+university" target = "_blank">1693</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+miyagishi" target="_blank">makoto miyagishi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+miyagishi+keio+university" target = "_blank">1678</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunari+taira" target="_blank">kazunari taira</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunari+taira+keio+university" target = "_blank">1665</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=masako+ohmura" target="_blank">masako ohmura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masako+ohmura+keio+university" target = "_blank">1639</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=philippe+froguel" target="_blank">philippe froguel</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=philippe+froguel+keio+university" target = "_blank">1639</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=yumi+matsuzaki" target="_blank">yumi matsuzaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yumi+matsuzaki+keio+university" target = "_blank">1635</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+umezawa" target="_blank">kazuo umezawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+umezawa+keio+university" target = "_blank">1623</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=eiji+ikeda" target="_blank">eiji ikeda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=eiji+ikeda+keio+university" target = "_blank">1599</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshio+kitamura" target="_blank">toshio kitamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshio+kitamura+keio+university" target = "_blank">1595</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=hidetsugu+saito" target="_blank">hidetsugu saito</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hidetsugu+saito+keio+university" target = "_blank">1590</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+shimazaki" target="_blank">takuya shimazaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+shimazaki+keio+university" target = "_blank">1588</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=ryozo+nagai" target="_blank">ryozo nagai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ryozo+nagai+keio+university" target = "_blank">1579</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+iwamoto" target="_blank">jun iwamoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+iwamoto+keio+university" target = "_blank">1572</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=takehiko+yokomizo" target="_blank">takehiko yokomizo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takehiko+yokomizo+keio+university" target = "_blank">1565</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+nakamura" target="_blank">yusuke nakamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+nakamura+keio+university" target = "_blank">1538</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+shimizu" target="_blank">takao shimizu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+shimizu+keio+university" target = "_blank">1527</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=masaki+tsunoda" target="_blank">masaki tsunoda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masaki+tsunoda+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=hironori+waki" target="_blank">hironori waki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hironori+waki+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=koji+murakami" target="_blank">koji murakami</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=koji+murakami+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+ito" target="_blank">yusuke ito</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+ito+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=nelson+h+tsuno" target="_blank">nelson h tsuno</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nelson+h+tsuno+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=shunbun+kita" target="_blank">shunbun kita</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shunbun+kita+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=shoko+uchida" target="_blank">shoko uchida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shoko+uchida+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+tsuchida" target="_blank">atsushi tsuchida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+tsuchida+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=junji+kamon" target="_blank">junji kamon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junji+kamon+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+sugiyama" target="_blank">takuya sugiyama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+sugiyama+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=sato+takekawa" target="_blank">sato takekawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sato+takekawa+keio+university" target = "_blank">1526</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoichi+shibata" target="_blank">yoichi shibata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoichi+shibata+keio+university" target = "_blank">1526</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection of Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">Author: Liukun</p>
  </footer>
</html>
