
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Nanjing University of Science and Technology</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Nanjing University of Science and Technology &nbsp</h2>
       <p>paper number:9180</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=shengyuan+xu" target="_blank">shengyuan xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shengyuan+xu+nanjing+university+of+science+and+technology" target = "_blank">4991</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=james+lam" target="_blank">james lam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=james+lam+nanjing+university+of+science+and+technology" target = "_blank">3079</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=jingyu+yang" target="_blank">jingyu yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jingyu+yang+nanjing+university+of+science+and+technology" target = "_blank">2727</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=yimin+xuan" target="_blank">yimin xuan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yimin+xuan+nanjing+university+of+science+and+technology" target = "_blank">2517</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+li" target="_blank">qiang li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+li+nanjing+university+of+science+and+technology" target = "_blank">1831</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=yun+zou" target="_blank">yun zou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yun+zou+nanjing+university+of+science+and+technology" target = "_blank">1734</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+zhang" target="_blank">david zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+zhang+nanjing+university+of+science+and+technology" target = "_blank">1710</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=xuedong+gong" target="_blank">xuedong gong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xuedong+gong+nanjing+university+of+science+and+technology" target = "_blank">1476</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaopeng+fang" target="_blank">xiaopeng fang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaopeng+fang+nanjing+university+of+science+and+technology" target = "_blank">1382</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+yang" target="_blank">jian yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+yang+nanjing+university+of+science+and+technology" target = "_blank">1323</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=heming+xiao" target="_blank">heming xiao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=heming+xiao+nanjing+university+of+science+and+technology" target = "_blank">1259</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=lude+lu" target="_blank">lude lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lude+lu+nanjing+university+of+science+and+technology" target = "_blank">1244</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=xin+wang" target="_blank">xin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xin+wang+nanjing+university+of+science+and+technology" target = "_blank">1171</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=xin+wang" target="_blank">xin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xin+wang+nanjing+university+of+science+and+technology" target = "_blank">1060</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoheng+liu" target="_blank">xiaoheng liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoheng+liu+nanjing+university+of+science+and+technology" target = "_blank">1036</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=xin+wang" target="_blank">xin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xin+wang+nanjing+university+of+science+and+technology" target = "_blank">884</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhong+jin" target="_blank">zhong jin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhong+jin+nanjing+university+of+science+and+technology" target = "_blank">818</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=xujie+yang" target="_blank">xujie yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xujie+yang+nanjing+university+of+science+and+technology" target = "_blank">774</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=guanrong+chen" target="_blank">guanrong chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guanrong+chen+nanjing+university+of+science+and+technology" target = "_blank">742</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=weihua+zhu" target="_blank">weihua zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weihua+zhu+nanjing+university+of+science+and+technology" target = "_blank">717</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=ying+liu" target="_blank">ying liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ying+liu+nanjing+university+of+science+and+technology" target = "_blank">692</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=baoyong+zhang" target="_blank">baoyong zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=baoyong+zhang+nanjing+university+of+science+and+technology" target = "_blank">688</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+yang" target="_blank">jian yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+yang+nanjing+university+of+science+and+technology" target = "_blank">669</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=yaobin+mao" target="_blank">yaobin mao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yaobin+mao+nanjing+university+of+science+and+technology" target = "_blank">628</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=qi+zhou" target="_blank">qi zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qi+zhou+nanjing+university+of+science+and+technology" target = "_blank">621</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=hui+xia" target="_blank">hui xia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hui+xia+nanjing+university+of+science+and+technology" target = "_blank">619</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+xu" target="_blank">yong xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+xu+nanjing+university+of+science+and+technology" target = "_blank">604</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+w+c+ho" target="_blank">daniel w c ho</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daniel+w+c+ho+nanjing+university+of+science+and+technology" target = "_blank">600</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=wilfried+roetzel" target="_blank">wilfried roetzel</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wilfried+roetzel+nanjing+university+of+science+and+technology" target = "_blank">598</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiajun+fu" target="_blank">jiajun fu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiajun+fu+nanjing+university+of+science+and+technology" target = "_blank">596</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=guixiang+wang" target="_blank">guixiang wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guixiang+wang+nanjing+university+of+science+and+technology" target = "_blank">587</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=alejandro+f+frangi" target="_blank">alejandro f frangi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=alejandro+f+frangi+nanjing+university+of+science+and+technology" target = "_blank">585</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=r+c+batra" target="_blank">r c batra</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=r+c+batra+nanjing+university+of+science+and+technology" target = "_blank">556</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=ying+wang" target="_blank">ying wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ying+wang+nanjing+university+of+science+and+technology" target = "_blank">548</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=guoliang+yuan" target="_blank">guoliang yuan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guoliang+yuan+nanjing+university+of+science+and+technology" target = "_blank">536</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=suning+li" target="_blank">suning li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=suning+li+nanjing+university+of+science+and+technology" target = "_blank">533</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=li+lu" target="_blank">li lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=li+lu+nanjing+university+of+science+and+technology" target = "_blank">515</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=xuehai+ju" target="_blank">xuehai ju</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xuehai+ju+nanjing+university+of+science+and+technology" target = "_blank">513</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=charles+k+chui" target="_blank">charles k chui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=charles+k+chui+nanjing+university+of+science+and+technology" target = "_blank">512</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=lei+zhang" target="_blank">lei zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lei+zhang+nanjing+university+of+science+and+technology" target = "_blank">509</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=yu+wang" target="_blank">yu wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yu+wang+nanjing+university+of+science+and+technology" target = "_blank">505</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianyi+lin" target="_blank">jianyi lin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianyi+lin+nanjing+university+of+science+and+technology" target = "_blank">505</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=qingli+hao" target="_blank">qingli hao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qingli+hao+nanjing+university+of+science+and+technology" target = "_blank">502</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=tao+chen" target="_blank">tao chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tao+chen+nanjing+university+of+science+and+technology" target = "_blank">500</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=quansen+sun" target="_blank">quansen sun</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=quansen+sun+nanjing+university+of+science+and+technology" target = "_blank">482</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=xueli+zhang" target="_blank">xueli zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xueli+zhang+nanjing+university+of+science+and+technology" target = "_blank">481</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou" target="_blank">zhihua zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou+nanjing+university+of+science+and+technology" target = "_blank">469</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+wang" target="_blank">qian wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+wang+nanjing+university+of+science+and+technology" target = "_blank">469</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=deshen+xia" target="_blank">deshen xia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=deshen+xia+nanjing+university+of+science+and+technology" target = "_blank">454</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=fengsheng+li" target="_blank">fengsheng li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fengsheng+li+nanjing+university+of+science+and+technology" target = "_blank">448</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=yijun+zhang" target="_blank">yijun zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yijun+zhang+nanjing+university+of+science+and+technology" target = "_blank">447</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=xibei+yang" target="_blank">xibei yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xibei+yang+nanjing+university+of+science+and+technology" target = "_blank">432</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiquan+wang" target="_blank">zhiquan wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiquan+wang+nanjing+university+of+science+and+technology" target = "_blank">422</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=chengwu+yang" target="_blank">chengwu yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chengwu+yang+nanjing+university+of+science+and+technology" target = "_blank">416</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=yan+liu" target="_blank">yan liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yan+liu+nanjing+university+of+science+and+technology" target = "_blank">412</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=yunyang+wei" target="_blank">yunyang wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yunyang+wei+nanjing+university+of+science+and+technology" target = "_blank">409</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=junqing+yang" target="_blank">junqing yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junqing+yang+nanjing+university+of+science+and+technology" target = "_blank">402</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=junwu+zhu" target="_blank">junwu zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junwu+zhu+nanjing+university+of+science+and+technology" target = "_blank">399</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=xufei+zhu" target="_blank">xufei zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xufei+zhu+nanjing+university+of+science+and+technology" target = "_blank">398</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+shi" target="_blank">peng shi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+shi+nanjing+university+of+science+and+technology" target = "_blank">391</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=bing+chen" target="_blank">bing chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bing+chen+nanjing+university+of+science+and+technology" target = "_blank">387</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=r+s+chen" target="_blank">r s chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=r+s+chen+nanjing+university+of+science+and+technology" target = "_blank">385</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=dangsheng+xiong" target="_blank">dangsheng xiong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dangsheng+xiong+nanjing+university+of+science+and+technology" target = "_blank">379</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=ye+song" target="_blank">ye song</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ye+song+nanjing+university+of+science+and+technology" target = "_blank">379</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=chun+cai" target="_blank">chun cai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chun+cai+nanjing+university+of+science+and+technology" target = "_blank">377</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=lianjun+wang" target="_blank">lianjun wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lianjun+wang+nanjing+university+of+science+and+technology" target = "_blank">376</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=weihua+tang" target="_blank">weihua tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weihua+tang+nanjing+university+of+science+and+technology" target = "_blank">363</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=dongdong+li" target="_blank">dongdong li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dongdong+li+nanjing+university+of+science+and+technology" target = "_blank">346</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuming+chu" target="_blank">yuming chu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuming+chu+nanjing+university+of+science+and+technology" target = "_blank">345</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+k+cheung" target="_blank">y k cheung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+k+cheung+nanjing+university+of+science+and+technology" target = "_blank">331</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=mingzhu+xia" target="_blank">mingzhu xia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mingzhu+xia+nanjing+university+of+science+and+technology" target = "_blank">331</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=chen+xu" target="_blank">chen xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chen+xu+nanjing+university+of+science+and+technology" target = "_blank">326</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=dongjun+yu" target="_blank">dongjun yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dongjun+yu+nanjing+university+of+science+and+technology" target = "_blank">323</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoyuan+chen" target="_blank">xiaoyuan chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoyuan+chen+nanjing+university+of+science+and+technology" target = "_blank">320</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=linfeng+lu" target="_blank">linfeng lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=linfeng+lu+nanjing+university+of+science+and+technology" target = "_blank">319</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=hualan+wang" target="_blank">hualan wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hualan+wang+nanjing+university+of+science+and+technology" target = "_blank">317</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+jiang" target="_blank">wei jiang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+jiang+nanjing+university+of+science+and+technology" target = "_blank">314</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=tianyi+wang" target="_blank">tianyi wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tianyi+wang+nanjing+university+of+science+and+technology" target = "_blank">314</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+xu" target="_blank">c xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+xu+nanjing+university+of+science+and+technology" target = "_blank">310</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=chuanwei+cheng" target="_blank">chuanwei cheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chuanwei+cheng+nanjing+university+of+science+and+technology" target = "_blank">300</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaohong+fang" target="_blank">xiaohong fang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaohong+fang+nanjing+university+of+science+and+technology" target = "_blank">300</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=dongfang+liu" target="_blank">dongfang liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dongfang+liu+nanjing+university+of+science+and+technology" target = "_blank">300</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=l+f+qian" target="_blank">l f qian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=l+f+qian+nanjing+university+of+science+and+technology" target = "_blank">293</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+m+c+roque" target="_blank">c m c roque</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+m+c+roque+nanjing+university+of+science+and+technology" target = "_blank">292</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinsheng+sun" target="_blank">jinsheng sun</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinsheng+sun+nanjing+university+of+science+and+technology" target = "_blank">287</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiao+wang" target="_blank">jiao wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiao+wang+nanjing+university+of+science+and+technology" target = "_blank">281</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=gaoshan+huang" target="_blank">gaoshan huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gaoshan+huang+nanjing+university+of+science+and+technology" target = "_blank">281</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+zhong" target="_blank">jian zhong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+zhong+nanjing+university+of+science+and+technology" target = "_blank">281</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=yongfeng+mei" target="_blank">yongfeng mei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yongfeng+mei+nanjing+university+of+science+and+technology" target = "_blank">281</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=kaiming+deng" target="_blank">kaiming deng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kaiming+deng+nanjing+university+of+science+and+technology" target = "_blank">278</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+tao+wang" target="_blank">jing tao wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+tao+wang+nanjing+university+of+science+and+technology" target = "_blank">275</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=fenghe+wang" target="_blank">fenghe wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fenghe+wang+nanjing+university+of+science+and+technology" target = "_blank">271</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangyin+li" target="_blank">xiangyin li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangyin+li+nanjing+university+of+science+and+technology" target = "_blank">268</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=chunxia+zhao" target="_blank">chunxia zhao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chunxia+zhao+nanjing+university+of+science+and+technology" target = "_blank">268</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=l+f+qian" target="_blank">l f qian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=l+f+qian+nanjing+university+of+science+and+technology" target = "_blank">265</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=mudan+chen" target="_blank">mudan chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mudan+chen+nanjing+university+of+science+and+technology" target = "_blank">264</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+shen" target="_blank">ping shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+shen+nanjing+university+of+science+and+technology" target = "_blank">264</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=peichang+ma" target="_blank">peichang ma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=peichang+ma+nanjing+university+of+science+and+technology" target = "_blank">264</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=tongwen+chen" target="_blank">tongwen chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tongwen+chen+nanjing+university+of+science+and+technology" target = "_blank">260</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=chi+zhang" target="_blank">chi zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chi+zhang+nanjing+university+of+science+and+technology" target = "_blank">260</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection from Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">I'm liukun, may be your potential friend</p>
  </footer>
</html>
