
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Nanjing University of Aeronautics</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Nanjing University of Aeronautics &nbsp</h2>
       <p>paper number:7127</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaogang+zhang" target="_blank">xiaogang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaogang+zhang+nanjing+university+of+aeronautics" target = "_blank">3895</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=laifa+shen" target="_blank">laifa shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=laifa+shen+nanjing+university+of+aeronautics" target = "_blank">2398</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=changzhou+yuan" target="_blank">changzhou yuan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=changzhou+yuan+nanjing+university+of+aeronautics" target = "_blank">2393</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=guangbin+ji" target="_blank">guangbin ji</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guangbin+ji+nanjing+university+of+aeronautics" target = "_blank">2095</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=songcan+chen" target="_blank">songcan chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=songcan+chen+nanjing+university+of+aeronautics" target = "_blank">2051</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=yousong+liu" target="_blank">yousong liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yousong+liu+nanjing+university+of+aeronautics" target = "_blank">1545</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianming+jia" target="_blank">jianming jia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianming+jia+nanjing+university+of+aeronautics" target = "_blank">1408</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=wanlin+guo" target="_blank">wanlin guo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wanlin+guo+nanjing+university+of+aeronautics" target = "_blank">1329</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaofeng+chang" target="_blank">xiaofeng chang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaofeng+chang+nanjing+university+of+aeronautics" target = "_blank">1193</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=linrui+hou" target="_blank">linrui hou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=linrui+hou+nanjing+university+of+aeronautics" target = "_blank">1125</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=daoqiang+zhang" target="_blank">daoqiang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daoqiang+zhang+nanjing+university+of+aeronautics" target = "_blank">1016</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=caixia+kan" target="_blank">caixia kan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=caixia+kan+nanjing+university+of+aeronautics" target = "_blank">952</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+shi" target="_blank">yi shi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+shi+nanjing+university+of+aeronautics" target = "_blank">913</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=da+chen" target="_blank">da chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=da+chen+nanjing+university+of+aeronautics" target = "_blank">898</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+kang" target="_blank">bin kang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+kang+nanjing+university+of+aeronautics" target = "_blank">879</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=yaodong+dai" target="_blank">yaodong dai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yaodong+dai+nanjing+university+of+aeronautics" target = "_blank">877</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=shuquan+chang" target="_blank">shuquan chang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shuquan+chang+nanjing+university+of+aeronautics" target = "_blank">877</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiejun+zhu" target="_blank">jiejun zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiejun+zhu+nanjing+university+of+aeronautics" target = "_blank">865</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=nianwu+li" target="_blank">nianwu li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nianwu+li+nanjing+university+of+aeronautics" target = "_blank">858</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=daning+shi" target="_blank">daning shi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daning+shi+nanjing+university+of+aeronautics" target = "_blank">848</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+gao" target="_blank">bo gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+gao+nanjing+university+of+aeronautics" target = "_blank">809</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+jiang" target="_blank">bin jiang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+jiang+nanjing+university+of+aeronautics" target = "_blank">805</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaolong+ding" target="_blank">xiaolong ding</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaolong+ding+nanjing+university+of+aeronautics" target = "_blank">802</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+cong" target="_blank">bo cong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+cong+nanjing+university+of+aeronautics" target = "_blank">794</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=shanlin+ke" target="_blank">shanlin ke</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shanlin+ke+nanjing+university+of+aeronautics" target = "_blank">791</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=lihong+xu" target="_blank">lihong xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lihong+xu+nanjing+university+of+aeronautics" target = "_blank">789</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+mo" target="_blank">bo mo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+mo+nanjing+university+of+aeronautics" target = "_blank">789</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=haiqian+zhang" target="_blank">haiqian zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=haiqian+zhang+nanjing+university+of+aeronautics" target = "_blank">772</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=yimin+xuan" target="_blank">yimin xuan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yimin+xuan+nanjing+university+of+aeronautics" target = "_blank">768</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiong+wen+lou" target="_blank">xiong wen lou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiong+wen+lou+nanjing+university+of+aeronautics" target = "_blank">763</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=zewen+zuo" target="_blank">zewen zuo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zewen+zuo+nanjing+university+of+aeronautics" target = "_blank">757</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+zhang" target="_blank">bin zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+zhang+nanjing+university+of+aeronautics" target = "_blank">727</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=m+a+gondal" target="_blank">m a gondal</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=m+a+gondal+nanjing+university+of+aeronautics" target = "_blank">710</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+li" target="_blank">qiang li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+li+nanjing+university+of+aeronautics" target = "_blank">702</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=xingmiao+zhang" target="_blank">xingmiao zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xingmiao+zhang+nanjing+university+of+aeronautics" target = "_blank">681</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=guoan+tai" target="_blank">guoan tai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guoan+tai+nanjing+university+of+aeronautics" target = "_blank">679</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongxu+zhang" target="_blank">hongxu zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongxu+zhang+nanjing+university+of+aeronautics" target = "_blank">675</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaopeng+fang" target="_blank">xiaopeng fang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaopeng+fang+nanjing+university+of+aeronautics" target = "_blank">675</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=kuanfu+lin" target="_blank">kuanfu lin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kuanfu+lin+nanjing+university+of+aeronautics" target = "_blank">673</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=shinpon+ju" target="_blank">shinpon ju</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shinpon+ju+nanjing+university+of+aeronautics" target = "_blank">673</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=guibin+chen" target="_blank">guibin chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guibin+chen+nanjing+university+of+aeronautics" target = "_blank">671</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+miao" target="_blank">c miao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+miao+nanjing+university+of+aeronautics" target = "_blank">671</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoqin+feng" target="_blank">xiaoqin feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoqin+feng+nanjing+university+of+aeronautics" target = "_blank">671</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+bai" target="_blank">y bai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+bai+nanjing+university+of+aeronautics" target = "_blank">667</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=yubo+wang" target="_blank">yubo wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yubo+wang+nanjing+university+of+aeronautics" target = "_blank">667</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiaoyang+li" target="_blank">jiaoyang li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiaoyang+li+nanjing+university+of+aeronautics" target = "_blank">653</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=long+yang" target="_blank">long yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=long+yang+nanjing+university+of+aeronautics" target = "_blank">566</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=yunxia+guo" target="_blank">yunxia guo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yunxia+guo+nanjing+university+of+aeronautics" target = "_blank">561</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoyang+tan" target="_blank">xiaoyang tan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoyang+tan+nanjing+university+of+aeronautics" target = "_blank">543</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=junyi+wang" target="_blank">junyi wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junyi+wang+nanjing+university+of+aeronautics" target = "_blank">531</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=honglie+shen" target="_blank">honglie shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=honglie+shen+nanjing+university+of+aeronautics" target = "_blank">514</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=fang+zhang" target="_blank">fang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fang+zhang+nanjing+university+of+aeronautics" target = "_blank">508</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou" target="_blank">zhihua zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou+nanjing+university+of+aeronautics" target = "_blank">487</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=songbai+xue" target="_blank">songbai xue</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=songbai+xue+nanjing+university+of+aeronautics" target = "_blank">483</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=xuanqi+liang" target="_blank">xuanqi liang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xuanqi+liang+nanjing+university+of+aeronautics" target = "_blank">475</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=fei+zhou" target="_blank">fei zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fei+zhou+nanjing+university+of+aeronautics" target = "_blank">472</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongyong+zhao" target="_blank">hongyong zhao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongyong+zhao+nanjing+university+of+aeronautics" target = "_blank">446</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=qi+qin" target="_blank">qi qin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qi+qin+nanjing+university+of+aeronautics" target = "_blank">427</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=linhao+su" target="_blank">linhao su</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=linhao+su+nanjing+university+of+aeronautics" target = "_blank">420</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+shi" target="_blank">peng shi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+shi+nanjing+university+of+aeronautics" target = "_blank">391</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wang" target="_blank">wei wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wang+nanjing+university+of+aeronautics" target = "_blank">359</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+zhou" target="_blank">ping zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ping+zhou+nanjing+university+of+aeronautics" target = "_blank">357</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=kongjun+zhu" target="_blank">kongjun zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kongjun+zhu+nanjing+university+of+aeronautics" target = "_blank">343</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=lili+gao" target="_blank">lili gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lili+gao+nanjing+university+of+aeronautics" target = "_blank">336</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiancong+he" target="_blank">xiancong he</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiancong+he+nanjing+university+of+aeronautics" target = "_blank">334</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinhao+qiu" target="_blank">jinhao qiu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinhao+qiu+nanjing+university+of+aeronautics" target = "_blank">334</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongjun+luo" target="_blank">hongjun luo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongjun+luo+nanjing+university+of+aeronautics" target = "_blank">332</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangjun+lu" target="_blank">xiangjun lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangjun+lu+nanjing+university+of+aeronautics" target = "_blank">331</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=b+w+ang" target="_blank">b w ang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=b+w+ang+nanjing+university+of+aeronautics" target = "_blank">330</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=mou+chen" target="_blank">mou chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mou+chen+nanjing+university+of+aeronautics" target = "_blank">322</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=hong+he" target="_blank">hong he</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hong+he+nanjing+university+of+aeronautics" target = "_blank">305</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinze+li" target="_blank">jinze li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinze+li+nanjing+university+of+aeronautics" target = "_blank">299</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=guang+zeng" target="_blank">guang zeng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guang+zeng+nanjing+university+of+aeronautics" target = "_blank">298</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=shenglin+yu" target="_blank">shenglin yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shenglin+yu+nanjing+university+of+aeronautics" target = "_blank">297</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=sudong+yang" target="_blank">sudong yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sudong+yang+nanjing+university+of+aeronautics" target = "_blank">293</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangguo+ye" target="_blank">xiangguo ye</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangguo+ye+nanjing+university+of+aeronautics" target = "_blank">293</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhendong+dai" target="_blank">zhendong dai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhendong+dai+nanjing+university+of+aeronautics" target = "_blank">292</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=guanglei+cui" target="_blank">guanglei cui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guanglei+cui+nanjing+university+of+aeronautics" target = "_blank">286</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=bing+ding" target="_blank">bing ding</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bing+ding+nanjing+university+of+aeronautics" target = "_blank">285</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=jieming+cao" target="_blank">jieming cao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jieming+cao+nanjing+university+of+aeronautics" target = "_blank">284</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=lishan+qiao" target="_blank">lishan qiao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lishan+qiao+nanjing+university+of+aeronautics" target = "_blank">282</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=mingbo+zheng" target="_blank">mingbo zheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mingbo+zheng+nanjing+university+of+aeronautics" target = "_blank">282</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=shenglin+xiong" target="_blank">shenglin xiong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shenglin+xiong+nanjing+university+of+aeronautics" target = "_blank">281</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinwei+wang" target="_blank">xinwei wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinwei+wang+nanjing+university+of+aeronautics" target = "_blank">263</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=sudong+yang" target="_blank">sudong yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sudong+yang+nanjing+university+of+aeronautics" target = "_blank">262</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=renli+fu" target="_blank">renli fu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=renli+fu+nanjing+university+of+aeronautics" target = "_blank">260</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=gang+yu" target="_blank">gang yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gang+yu+nanjing+university+of+aeronautics" target = "_blank">257</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+huang" target="_blank">jun huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+huang+nanjing+university+of+aeronautics" target = "_blank">257</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=sifeng+liu" target="_blank">sifeng liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sifeng+liu+nanjing+university+of+aeronautics" target = "_blank">253</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=g+l+yuan" target="_blank">g l yuan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=g+l+yuan+nanjing+university+of+aeronautics" target = "_blank">253</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=derek+siuwing+or" target="_blank">derek siuwing or</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=derek+siuwing+or+nanjing+university+of+aeronautics" target = "_blank">253</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=yunfei+yang" target="_blank">yunfei yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yunfei+yang+nanjing+university+of+aeronautics" target = "_blank">253</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=yixin+chen" target="_blank">yixin chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yixin+chen+nanjing+university+of+aeronautics" target = "_blank">247</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=weiling+cai" target="_blank">weiling cai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weiling+cai+nanjing+university+of+aeronautics" target = "_blank">246</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=guiyin+xu" target="_blank">guiyin xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guiyin+xu+nanjing+university+of+aeronautics" target = "_blank">243</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=shubo+deng" target="_blank">shubo deng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shubo+deng+nanjing+university+of+aeronautics" target = "_blank">241</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=liang+zhang" target="_blank">liang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liang+zhang+nanjing+university+of+aeronautics" target = "_blank">240</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiufeng+song" target="_blank">xiufeng song</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiufeng+song+nanjing+university+of+aeronautics" target = "_blank">240</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianping+he" target="_blank">jianping he</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianping+he+nanjing+university+of+aeronautics" target = "_blank">236</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=diankai+li" target="_blank">diankai li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=diankai+li+nanjing+university+of+aeronautics" target = "_blank">234</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection from Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">I'm liukun, may be your potential friend</p>
  </footer>
</html>
