
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Nanjing University</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Nanjing University &nbsp</h2>
       <p>paper number:33754</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou" target="_blank">zhihua zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou+nanjing+university" target = "_blank">7402</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=junjie+zhu" target="_blank">junjie zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junjie+zhu+nanjing+university" target = "_blank">5775</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongyuan+chen" target="_blank">hongyuan chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongyuan+chen+nanjing+university" target = "_blank">3882</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=huangxian+ju" target="_blank">huangxian ju</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=huangxian+ju+nanjing+university" target = "_blank">3519</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhigang+zou" target="_blank">zhigang zou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhigang+zou+nanjing+university" target = "_blank">3252</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaozeng+you" target="_blank">xiaozeng you</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaozeng+you+nanjing+university" target = "_blank">3156</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=yizhi+li" target="_blank">yizhi li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yizhi+li+nanjing+university" target = "_blank">2939</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=naiben+ming" target="_blank">naiben ming</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=naiben+ming+nanjing+university" target = "_blank">2689</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=zijian+guo" target="_blank">zijian guo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zijian+guo+nanjing+university" target = "_blank">2571</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+w+du" target="_blank">y w du</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+w+du+nanjing+university" target = "_blank">2278</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=jingjuan+xu" target="_blank">jingjuan xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jingjuan+xu+nanjing+university" target = "_blank">2197</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=x+l+wu" target="_blank">x l wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=x+l+wu+nanjing+university" target = "_blank">2049</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=liuyan+yang" target="_blank">liuyan yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liuyan+yang+nanjing+university" target = "_blank">2000</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=liping+jiang" target="_blank">liping jiang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liping+jiang+nanjing+university" target = "_blank">1989</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=guanghou+wang" target="_blank">guanghou wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guanghou+wang+nanjing+university" target = "_blank">1974</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=genxi+li" target="_blank">genxi li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=genxi+li+nanjing+university" target = "_blank">1968</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=w+l+griffin" target="_blank">w l griffin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=w+l+griffin+nanjing+university" target = "_blank">1962</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinghua+xia" target="_blank">xinghua xia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinghua+xia+nanjing+university" target = "_blank">1947</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianwei+zhao" target="_blank">jianwei zhao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianwei+zhao+nanjing+university" target = "_blank">1889</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhaosheng+li" target="_blank">zhaosheng li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhaosheng+li+nanjing+university" target = "_blank">1859</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiang+gao" target="_blank">xiang gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiang+gao+nanjing+university" target = "_blank">1827</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=youwei+du" target="_blank">youwei du</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=youwei+du+nanjing+university" target = "_blank">1816</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+shi" target="_blank">yi shi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+shi+nanjing+university" target = "_blank">1791</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+xu" target="_blank">zheng xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+xu+nanjing+university" target = "_blank">1788</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=xisheng+xu" target="_blank">xisheng xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xisheng+xu+nanjing+university" target = "_blank">1769</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wang" target="_blank">wei wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wang+nanjing+university" target = "_blank">1756</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=weiyin+sun" target="_blank">weiyin sun</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weiyin+sun+nanjing+university" target = "_blank">1722</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+gao" target="_blank">bin gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+gao+nanjing+university" target = "_blank">1685</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+hu" target="_blank">zheng hu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+hu+nanjing+university" target = "_blank">1661</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=di+wu" target="_blank">di wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=di+wu+nanjing+university" target = "_blank">1618</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=liangshu+shu" target="_blank">liangshu shu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liangshu+shu+nanjing+university" target = "_blank">1549</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiguo+liu" target="_blank">zhiguo liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiguo+liu+nanjing+university" target = "_blank">1517</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaorong+wang" target="_blank">xiaorong wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaorong+wang+nanjing+university" target = "_blank">1517</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=feng+lu" target="_blank">feng lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=feng+lu+nanjing+university" target = "_blank">1487</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=shanhu+liu" target="_blank">shanhu liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shanhu+liu+nanjing+university" target = "_blank">1478</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=rong+zhang" target="_blank">rong zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=rong+zhang+nanjing+university" target = "_blank">1477</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+chen" target="_blank">jun chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+chen+nanjing+university" target = "_blank">1475</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=lei+wu" target="_blank">lei wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lei+wu+nanjing+university" target = "_blank">1472</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=guangming+lu" target="_blank">guangming lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guangming+lu+nanjing+university" target = "_blank">1446</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+zhong" target="_blank">wei zhong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+zhong+nanjing+university" target = "_blank">1402</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=yanfeng+chen" target="_blank">yanfeng chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yanfeng+chen+nanjing+university" target = "_blank">1392</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=baorui+liu" target="_blank">baorui liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=baorui+liu+nanjing+university" target = "_blank">1375</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=junfeng+ji" target="_blank">junfeng ji</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junfeng+ji+nanjing+university" target = "_blank">1363</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=shaoguang+yang" target="_blank">shaoguang yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shaoguang+yang+nanjing+university" target = "_blank">1321</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=songcan+chen" target="_blank">songcan chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=songcan+chen+nanjing+university" target = "_blank">1308</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=chengjian+zhu" target="_blank">chengjian zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chengjian+zhu+nanjing+university" target = "_blank">1298</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=you+song" target="_blank">you song</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=you+song+nanjing+university" target = "_blank">1291</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=g+g+siu" target="_blank">g g siu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=g+g+siu+nanjing+university" target = "_blank">1248</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=limin+zheng" target="_blank">limin zheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=limin+zheng+nanjing+university" target = "_blank">1213</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=yongyuan+zhu" target="_blank">yongyuan zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yongyuan+zhu+nanjing+university" target = "_blank">1212</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+d+zheng" target="_blank">y d zheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+d+zheng+nanjing+university" target = "_blank">1207</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+shen" target="_blank">jian shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+shen+nanjing+university" target = "_blank">1190</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=tao+yu" target="_blank">tao yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tao+yu+nanjing+university" target = "_blank">1187</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+ma" target="_blank">jing ma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+ma+nanjing+university" target = "_blank">1185</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongxia+yu" target="_blank">hongxia yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongxia+yu+nanjing+university" target = "_blank">1181</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=fenying+wang" target="_blank">fenying wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fenying+wang+nanjing+university" target = "_blank">1138</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=yun+lu" target="_blank">yun lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yun+lu+nanjing+university" target = "_blank">1135</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=hai+cheng" target="_blank">hai cheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hai+cheng+nanjing+university" target = "_blank">1135</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+j+wang" target="_blank">y j wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+j+wang+nanjing+university" target = "_blank">1133</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianming+hong" target="_blank">jianming hong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianming+hong+nanjing+university" target = "_blank">1132</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+y+wu" target="_blank">j y wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+y+wu+nanjing+university" target = "_blank">1130</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=z+s+an" target="_blank">z s an</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=z+s+an+nanjing+university" target = "_blank">1126</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+c+shen" target="_blank">c c shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+c+shen+nanjing+university" target = "_blank">1126</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=jeffrey+a+dorale" target="_blank">jeffrey a dorale</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jeffrey+a+dorale+nanjing+university" target = "_blank">1126</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=r+l+edwards" target="_blank">r l edwards</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=r+l+edwards+nanjing+university" target = "_blank">1126</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=quanxing+zhang" target="_blank">quanxing zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=quanxing+zhang+nanjing+university" target = "_blank">1124</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=shining+zhu" target="_blank">shining zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shining+zhu+nanjing+university" target = "_blank">1123</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=aidong+li" target="_blank">aidong li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=aidong+li+nanjing+university" target = "_blank">1121</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianrong+zhang" target="_blank">jianrong zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianrong+zhang+nanjing+university" target = "_blank">1105</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=yitao+ding" target="_blank">yitao ding</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yitao+ding+nanjing+university" target = "_blank">1091</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=kunji+chen" target="_blank">kunji chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kunji+chen+nanjing+university" target = "_blank">1091</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiqiang+zhang" target="_blank">zhiqiang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiqiang+zhang+nanjing+university" target = "_blank">1088</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=suzanne+y+oreilly" target="_blank">suzanne y oreilly</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=suzanne+y+oreilly+nanjing+university" target = "_blank">1088</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+xu" target="_blank">jun xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+xu+nanjing+university" target = "_blank">1087</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=jieshou+li" target="_blank">jieshou li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jieshou+li+nanjing+university" target = "_blank">1087</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=qingjin+meng" target="_blank">qingjin meng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qingjin+meng+nanjing+university" target = "_blank">1083</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangkang+meng" target="_blank">xiangkang meng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiangkang+meng+nanjing+university" target = "_blank">1072</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=huitian+wang" target="_blank">huitian wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=huitian+wang+nanjing+university" target = "_blank">1068</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=ziling+xue" target="_blank">ziling xue</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ziling+xue+nanjing+university" target = "_blank">1067</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=shaoyong+jiang" target="_blank">shaoyong jiang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shaoyong+jiang+nanjing+university" target = "_blank">1066</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=junming+liu" target="_blank">junming liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junming+liu+nanjing+university" target = "_blank">1065</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+pan" target="_blank">yi pan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+pan+nanjing+university" target = "_blank">1062</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinquan+xin" target="_blank">xinquan xin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinquan+xin+nanjing+university" target = "_blank">1061</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=yixiang+cheng" target="_blank">yixiang cheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yixiang+cheng+nanjing+university" target = "_blank">1061</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=wenjun+luo" target="_blank">wenjun luo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wenjun+luo+nanjing+university" target = "_blank">1061</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=min+han" target="_blank">min han</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=min+han+nanjing+university" target = "_blank">1057</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=guihai+chen" target="_blank">guihai chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guihai+chen+nanjing+university" target = "_blank">1054</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+chen" target="_blank">yi chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+chen+nanjing+university" target = "_blank">1051</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=feng+gao" target="_blank">feng gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=feng+gao+nanjing+university" target = "_blank">1037</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+m+liu" target="_blank">j m liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+m+liu+nanjing+university" target = "_blank">1025</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=n+b+ming" target="_blank">n b ming</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=n+b+ming+nanjing+university" target = "_blank">1022</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=minling+zhang" target="_blank">minling zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=minling+zhang+nanjing+university" target = "_blank">1004</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=guangbin+ji" target="_blank">guangbin ji</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guangbin+ji+nanjing+university" target = "_blank">994</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=aimin+li" target="_blank">aimin li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=aimin+li+nanjing+university" target = "_blank">985</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=norman+j+pearson" target="_blank">norman j pearson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=norman+j+pearson+nanjing+university" target = "_blank">984</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=z+g+liu" target="_blank">z g liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=z+g+liu+nanjing+university" target = "_blank">984</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=hegen+zheng" target="_blank">hegen zheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hegen+zheng+nanjing+university" target = "_blank">962</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinhua+ye" target="_blank">jinhua ye</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinhua+ye+nanjing+university" target = "_blank">956</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+au" target="_blank">c au</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+au+nanjing+university" target = "_blank">955</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianping+lei" target="_blank">jianping lei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianping+lei+nanjing+university" target = "_blank">954</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection from Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">I'm liukun, may be your potential friend</p>
  </footer>
</html>
