
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Peking University</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Peking University &nbsp</h2>
       <p>paper number:53284</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=d+p+yu" target="_blank">d p yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=d+p+yu+peking+university" target = "_blank">3565</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=long+wang" target="_blank">long wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=long+wang+peking+university" target = "_blank">3451</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+chen" target="_blank">bin chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bin+chen+peking+university" target = "_blank">3437</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=dapeng+yu" target="_blank">dapeng yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dapeng+yu+peking+university" target = "_blank">3388</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+zhang" target="_blank">qiang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+zhang+peking+university" target = "_blank">3221</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=qihuang+gong" target="_blank">qihuang gong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qihuang+gong+peking+university" target = "_blank">3041</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=min+hu" target="_blank">min hu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=min+hu+peking+university" target = "_blank">3019</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=shu+tao" target="_blank">shu tao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shu+tao+peking+university" target = "_blank">2981</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhong+lin+wang" target="_blank">zhong lin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhong+lin+wang+peking+university" target = "_blank">2489</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+zhang" target="_blank">bo zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+zhang+peking+university" target = "_blank">2486</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=jingyun+fang" target="_blank">jingyun fang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jingyun+fang+peking+university" target = "_blank">2474</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinhui+song" target="_blank">jinhui song</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinhui+song+peking+university" target = "_blank">2221</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=shilong+piao" target="_blank">shilong piao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shilong+piao+peking+university" target = "_blank">2220</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=chaoshu+tang" target="_blank">chaoshu tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chaoshu+tang+peking+university" target = "_blank">2167</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=anyuan+cao" target="_blank">anyuan cao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=anyuan+cao+peking+university" target = "_blank">2162</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+shen" target="_blank">lin shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+shen+peking+university" target = "_blank">2139</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongkui+deng" target="_blank">hongkui deng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongkui+deng+peking+university" target = "_blank">2098</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+q+feng" target="_blank">s q feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+q+feng+peking+university" target = "_blank">2059</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuming+guo" target="_blank">yuming guo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuming+guo+peking+university" target = "_blank">2055</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=min+shao" target="_blank">min shao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=min+shao+peking+university" target = "_blank">2021</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiancheng+wang" target="_blank">jiancheng wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiancheng+wang+peking+university" target = "_blank">2018</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=qing+zhao" target="_blank">qing zhao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qing+zhao+peking+university" target = "_blank">2009</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=haiyan+wang" target="_blank">haiyan wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=haiyan+wang+peking+university" target = "_blank">1979</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuanhang+zhang" target="_blank">yuanhang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuanhang+zhang+peking+university" target = "_blank">1916</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+xu" target="_blank">jun xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+xu+peking+university" target = "_blank">1907</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinliang+zhang" target="_blank">jinliang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinliang+zhang+peking+university" target = "_blank">1883</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=shanshan+li" target="_blank">shanshan li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shanshan+li+peking+university" target = "_blank">1870</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhaoxing+tian" target="_blank">zhaoxing tian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhaoxing+tian+peking+university" target = "_blank">1829</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+zhou" target="_blank">jian zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+zhou+peking+university" target = "_blank">1802</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+wang" target="_blank">qian wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+wang+peking+university" target = "_blank">1798</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=wen+gao" target="_blank">wen gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wen+gao+peking+university" target = "_blank">1773</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=lun+dai" target="_blank">lun dai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lun+dai+peking+university" target = "_blank">1764</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=shufeng+zhou" target="_blank">shufeng zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shufeng+zhou+peking+university" target = "_blank">1753</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=tianxin+yang" target="_blank">tianxin yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tianxin+yang+peking+university" target = "_blank">1733</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=peixuan+guo" target="_blank">peixuan guo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=peixuan+guo+peking+university" target = "_blank">1731</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhixin+wang" target="_blank">zhixin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhixin+wang+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=lee+jia" target="_blank">lee jia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lee+jia+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=xueji+zhang" target="_blank">xueji zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xueji+zhang+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=shyam+s+mohapatra" target="_blank">shyam s mohapatra</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shyam+s+mohapatra+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+liang" target="_blank">jun liang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+liang+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+kanwar" target="_blank">j s kanwar</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+kanwar+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=sonali+sharma" target="_blank">sonali sharma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sonali+sharma+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=ming+q+wei" target="_blank">ming q wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ming+q+wei+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=chenzhong+li" target="_blank">chenzhong li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chenzhong+li+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=qi+li" target="_blank">qi li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qi+li+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaotian+li" target="_blank">xiaotian li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaotian+li+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=wanqing+liu" target="_blank">wanqing liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wanqing+liu+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=yangde+zhang" target="_blank">yangde zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yangde+zhang+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiwei+zhou" target="_blank">zhiwei zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiwei+zhou+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+tan" target="_blank">jun tan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+tan+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=juanjuan+yin" target="_blank">juanjuan yin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=juanjuan+yin+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+duan" target="_blank">wei duan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+duan+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=stepan+p+shumyak" target="_blank">stepan p shumyak</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=stepan+p+shumyak+peking+university" target = "_blank">1730</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=hong+mei" target="_blank">hong mei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hong+mei+peking+university" target = "_blank">1622</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=dehai+wu" target="_blank">dehai wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dehai+wu+peking+university" target = "_blank">1620</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaowei+li" target="_blank">xiaowei li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaowei+li+peking+university" target = "_blank">1595</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongwei+zhu" target="_blank">hongwei zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongwei+zhu+peking+university" target = "_blank">1579</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=kunlin+wang" target="_blank">kunlin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kunlin+wang+peking+university" target = "_blank">1579</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinquan+wei" target="_blank">jinquan wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinquan+wei+peking+university" target = "_blank">1579</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+a+wilde" target="_blank">simon a wilde</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+a+wilde+peking+university" target = "_blank">1576</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=philippe+ciais" target="_blank">philippe ciais</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=philippe+ciais+peking+university" target = "_blank">1570</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhisheng+duan" target="_blank">zhisheng duan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhisheng+duan+peking+university" target = "_blank">1548</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=shihui+han" target="_blank">shihui han</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shihui+han+peking+university" target = "_blank">1535</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=a+wiedensohler" target="_blank">a wiedensohler</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=a+wiedensohler+peking+university" target = "_blank">1522</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=borming+jahn" target="_blank">borming jahn</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=borming+jahn+peking+university" target = "_blank">1513</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=junbao+du" target="_blank">junbao du</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junbao+du+peking+university" target = "_blank">1505</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+lu" target="_blank">lin lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+lu+peking+university" target = "_blank">1487</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=yanglong+hou" target="_blank">yanglong hou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yanglong+hou+peking+university" target = "_blank">1462</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+jia" target="_blank">yi jia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+jia+peking+university" target = "_blank">1444</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wei" target="_blank">wei wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wei+peking+university" target = "_blank">1444</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=mingxiao+ding" target="_blank">mingxiao ding</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mingxiao+ding+peking+university" target = "_blank">1439</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=qing+chen" target="_blank">qing chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qing+chen+peking+university" target = "_blank">1435</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=ning+jiao" target="_blank">ning jiao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ning+jiao+peking+university" target = "_blank">1412</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=l+m+peng" target="_blank">l m peng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=l+m+peng+peking+university" target = "_blank">1371</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=liping+wei" target="_blank">liping wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liping+wei+peking+university" target = "_blank">1356</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoyan+tang" target="_blank">xiaoyan tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoyan+tang+peking+university" target = "_blank">1348</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=tong+zhu" target="_blank">tong zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tong+zhu+peking+university" target = "_blank">1326</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+sawaki" target="_blank">akira sawaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+sawaki+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+omuro" target="_blank">yasushi omuro</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+omuro+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=taroh+satoh" target="_blank">taroh satoh</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=taroh+satoh+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=eric+van+cutsem" target="_blank">eric van cutsem</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=eric+van+cutsem+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=hyun+cheol+chung" target="_blank">hyun cheol chung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hyun+cheol+chung+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoonkoo+kang" target="_blank">yoonkoo kang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoonkoo+kang+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+ohtsu" target="_blank">atsushi ohtsu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+ohtsu+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrea+feyereislova" target="_blank">andrea feyereislova</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrea+feyereislova+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=josef+ruschoff" target="_blank">josef ruschoff</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=josef+ruschoff+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=f+lordick" target="_blank">f lordick</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=f+lordick+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=evgeny+kulikov" target="_blank">evgeny kulikov</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=evgeny+kulikov+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=giuseppe+aprile" target="_blank">giuseppe aprile</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=giuseppe+aprile+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=yungjue+bang" target="_blank">yungjue bang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yungjue+bang+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=julie+hill" target="_blank">julie hill</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=julie+hill+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=michaela+lehle" target="_blank">michaela lehle</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michaela+lehle+peking+university" target = "_blank">1315</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wang" target="_blank">wei wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+wang+peking+university" target = "_blank">1295</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=jisheng+han" target="_blank">jisheng han</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jisheng+han+peking+university" target = "_blank">1268</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=yan+li" target="_blank">yan li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yan+li+peking+university" target = "_blank">1258</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=yufeng+zheng" target="_blank">yufeng zheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yufeng+zheng+peking+university" target = "_blank">1254</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinren+ni" target="_blank">jinren ni</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinren+ni+peking+university" target = "_blank">1252</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=tiancheng+wang" target="_blank">tiancheng wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tiancheng+wang+peking+university" target = "_blank">1238</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=weihong+qian" target="_blank">weihong qian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weihong+qian+peking+university" target = "_blank">1208</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=chunhua+yan" target="_blank">chunhua yan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chunhua+yan+peking+university" target = "_blank">1207</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection from Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">I'm liukun, may be your potential friend</p>
  </footer>
</html>
