
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Shanghai Jiao Tong University</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Shanghai Jiao Tong University &nbsp</h2>
       <p>paper number:44684</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=daxiang+cui" target="_blank">daxiang cui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=daxiang+cui+shanghai+jiao+tong+university" target = "_blank">10121</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+he" target="_blank">lin he</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+he+shanghai+jiao+tong+university" target = "_blank">5217</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=kan+wang" target="_blank">kan wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kan+wang+shanghai+jiao+tong+university" target = "_blank">4449</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+yu" target="_blank">yong yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+yu+shanghai+jiao+tong+university" target = "_blank">3943</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=hua+song" target="_blank">hua song</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hua+song+shanghai+jiao+tong+university" target = "_blank">3890</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=di+zhang" target="_blank">di zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=di+zhang+shanghai+jiao+tong+university" target = "_blank">3298</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+huang" target="_blank">peng huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=peng+huang+shanghai+jiao+tong+university" target = "_blank">3138</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=guo+gao" target="_blank">guo gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guo+gao+shanghai+jiao+tong+university" target = "_blank">3132</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=maojun+zheng" target="_blank">maojun zheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=maojun+zheng+shanghai+jiao+tong+university" target = "_blank">2964</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=shijun+liao" target="_blank">shijun liao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shijun+liao+shanghai+jiao+tong+university" target = "_blank">2915</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+ruan" target="_blank">jing ruan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+ruan+shanghai+jiao+tong+university" target = "_blank">2770</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=wenzhong+shen" target="_blank">wenzhong shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wenzhong+shen+shanghai+jiao+tong+university" target = "_blank">2619</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=guoyin+feng" target="_blank">guoyin feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guoyin+feng+shanghai+jiao+tong+university" target = "_blank">2521</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=r+z+wang" target="_blank">r z wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=r+z+wang+shanghai+jiao+tong+university" target = "_blank">2433</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=kadi+zhu" target="_blank">kadi zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kadi+zhu+shanghai+jiao+tong+university" target = "_blank">2396</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=chunlei+zhang" target="_blank">chunlei zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chunlei+zhang+shanghai+jiao+tong+university" target = "_blank">2376</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+yang" target="_blank">jie yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+yang+shanghai+jiao+tong+university" target = "_blank">2375</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=kuochen+chou" target="_blank">kuochen chou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kuochen+chou+shanghai+jiao+tong+university" target = "_blank">2339</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=shenmin+zhu" target="_blank">shenmin zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shenmin+zhu+shanghai+jiao+tong+university" target = "_blank">2224</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=li+ma" target="_blank">li ma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=li+ma+shanghai+jiao+tong+university" target = "_blank">2031</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=yafei+zhang" target="_blank">yafei zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yafei+zhang+shanghai+jiao+tong+university" target = "_blank">2015</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+wang" target="_blank">jian wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+wang+shanghai+jiao+tong+university" target = "_blank">1984</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=guangxia+shen" target="_blank">guangxia shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guangxia+shen+shanghai+jiao+tong+university" target = "_blank">1978</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongbin+shen" target="_blank">hongbin shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongbin+shen+shanghai+jiao+tong+university" target = "_blank">1967</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhixin+chen" target="_blank">zhixin chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhixin+chen+shanghai+jiao+tong+university" target = "_blank">1959</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=deyue+yan" target="_blank">deyue yan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=deyue+yan+shanghai+jiao+tong+university" target = "_blank">1956</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=weiping+jia" target="_blank">weiping jia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weiping+jia+shanghai+jiao+tong+university" target = "_blank">1915</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=di+zhang" target="_blank">di zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=di+zhang+shanghai+jiao+tong+university" target = "_blank">1886</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=guirong+xue" target="_blank">guirong xue</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guirong+xue+shanghai+jiao+tong+university" target = "_blank">1826</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongquan+geng" target="_blank">hongquan geng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongquan+geng+shanghai+jiao+tong+university" target = "_blank">1821</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiansong+wang" target="_blank">xiansong wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiansong+wang+shanghai+jiao+tong+university" target = "_blank">1814</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+yin" target="_blank">jie yin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+yin+shanghai+jiao+tong+university" target = "_blank">1766</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+zhang" target="_blank">yong zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+zhang+shanghai+jiao+tong+university" target = "_blank">1683</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=shouwu+guo" target="_blank">shouwu guo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shouwu+guo+shanghai+jiao+tong+university" target = "_blank">1653</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=guanrong+chen" target="_blank">guanrong chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guanrong+chen+shanghai+jiao+tong+university" target = "_blank">1606</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=xianfeng+chen" target="_blank">xianfeng chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xianfeng+chen+shanghai+jiao+tong+university" target = "_blank">1599</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=w+z+shen" target="_blank">w z shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=w+z+shen+shanghai+jiao+tong+university" target = "_blank">1594</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=huishen+shen" target="_blank">huishen shen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=huishen+shen+shanghai+jiao+tong+university" target = "_blank">1593</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiali+zhang" target="_blank">jiali zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiali+zhang+shanghai+jiao+tong+university" target = "_blank">1548</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=liangming+wei" target="_blank">liangming wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liangming+wei+shanghai+jiao+tong+university" target = "_blank">1490</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou" target="_blank">zhihua zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhihua+zhou+shanghai+jiao+tong+university" target = "_blank">1480</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=minglu+li" target="_blank">minglu li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=minglu+li+shanghai+jiao+tong+university" target = "_blank">1478</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinliang+feng" target="_blank">xinliang feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinliang+feng+shanghai+jiao+tong+university" target = "_blank">1425</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinyuan+zhu" target="_blank">xinyuan zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinyuan+zhu+shanghai+jiao+tong+university" target = "_blank">1398</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=yinxi+zhang" target="_blank">yinxi zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yinxi+zhang+shanghai+jiao+tong+university" target = "_blank">1372</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+yang" target="_blank">jun yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+yang+shanghai+jiao+tong+university" target = "_blank">1368</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhi+yang" target="_blank">zhi yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhi+yang+shanghai+jiao+tong+university" target = "_blank">1360</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuqian+bao" target="_blank">yuqian bao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuqian+bao+shanghai+jiao+tong+university" target = "_blank">1360</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=guoliang+ding" target="_blank">guoliang ding</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guoliang+ding+shanghai+jiao+tong+university" target = "_blank">1352</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=mingce+long" target="_blank">mingce long</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mingce+long+shanghai+jiao+tong+university" target = "_blank">1346</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoping+wan" target="_blank">xiaoping wan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaoping+wan+shanghai+jiao+tong+university" target = "_blank">1343</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=yanjie+su" target="_blank">yanjie su</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yanjie+su+shanghai+jiao+tong+university" target = "_blank">1337</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=pingkai+jiang" target="_blank">pingkai jiang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=pingkai+jiang+shanghai+jiao+tong+university" target = "_blank">1321</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+jia" target="_blank">wei jia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+jia+shanghai+jiao+tong+university" target = "_blank">1298</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongchen+gu" target="_blank">hongchen gu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongchen+gu+shanghai+jiao+tong+university" target = "_blank">1273</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhenfu+cao" target="_blank">zhenfu cao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhenfu+cao+shanghai+jiao+tong+university" target = "_blank">1250</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=xuefeng+qian" target="_blank">xuefeng qian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xuefeng+qian+shanghai+jiao+tong+university" target = "_blank">1249</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=yafei+zhang" target="_blank">yafei zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yafei+zhang+shanghai+jiao+tong+university" target = "_blank">1240</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+huang" target="_blank">wei huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+huang+shanghai+jiao+tong+university" target = "_blank">1239</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=lujun+yao" target="_blank">lujun yao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lujun+yao+shanghai+jiao+tong+university" target = "_blank">1222</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=lili+feng" target="_blank">lili feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lili+feng+shanghai+jiao+tong+university" target = "_blank">1221</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=yongyong+shi" target="_blank">yongyong shi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yongyong+shi+shanghai+jiao+tong+university" target = "_blank">1211</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=huilan+su" target="_blank">huilan su</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=huilan+su+shanghai+jiao+tong+university" target = "_blank">1206</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinjin+li" target="_blank">jinjin li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinjin+li+shanghai+jiao+tong+university" target = "_blank">1189</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhi+yang" target="_blank">zhi yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhi+yang+shanghai+jiao+tong+university" target = "_blank">1185</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+huang" target="_blank">qian huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qian+huang+shanghai+jiao+tong+university" target = "_blank">1177</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=yan+wo" target="_blank">yan wo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yan+wo+shanghai+jiao+tong+university" target = "_blank">1173</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=hairong+tao" target="_blank">hairong tao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hairong+tao+shanghai+jiao+tong+university" target = "_blank">1166</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=liying+zhang" target="_blank">liying zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liying+zhang+shanghai+jiao+tong+university" target = "_blank">1162</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=zifeng+ma" target="_blank">zifeng ma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zifeng+ma+shanghai+jiao+tong+university" target = "_blank">1161</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+qi" target="_blank">jun qi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+qi+shanghai+jiao+tong+university" target = "_blank">1148</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiajun+gu" target="_blank">jiajun gu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiajun+gu+shanghai+jiao+tong+university" target = "_blank">1140</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+yang" target="_blank">qiang yang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+yang+shanghai+jiao+tong+university" target = "_blank">1133</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=rong+he" target="_blank">rong he</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=rong+he+shanghai+jiao+tong+university" target = "_blank">1116</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=liqing+zhang" target="_blank">liqing zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liqing+zhang+shanghai+jiao+tong+university" target = "_blank">1107</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=weimin+cai" target="_blank">weimin cai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weimin+cai+shanghai+jiao+tong+university" target = "_blank">1083</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=chao+li" target="_blank">chao li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chao+li+shanghai+jiao+tong+university" target = "_blank">1071</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=yao+li" target="_blank">yao li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yao+li+shanghai+jiao+tong+university" target = "_blank">1069</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinbing+wang" target="_blank">xinbing wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinbing+wang+shanghai+jiao+tong+university" target = "_blank">1068</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhongcai+gao" target="_blank">zhongcai gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhongcai+gao+shanghai+jiao+tong+university" target = "_blank">1043</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=wang+zhang" target="_blank">wang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wang+zhang+shanghai+jiao+tong+university" target = "_blank">1043</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=hao+wei" target="_blank">hao wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hao+wei+shanghai+jiao+tong+university" target = "_blank">1032</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=shun+lu" target="_blank">shun lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shun+lu+shanghai+jiao+tong+university" target = "_blank">1022</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=dabing+zhang" target="_blank">dabing zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dabing+zhang+shanghai+jiao+tong+university" target = "_blank">1022</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiao+sun" target="_blank">jiao sun</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiao+sun+shanghai+jiao+tong+university" target = "_blank">1020</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=yanna+nuli" target="_blank">yanna nuli</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yanna+nuli+shanghai+jiao+tong+university" target = "_blank">1017</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+li" target="_blank">wei li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+li+shanghai+jiao+tong+university" target = "_blank">1004</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=caicun+zhou" target="_blank">caicun zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=caicun+zhou+shanghai+jiao+tong+university" target = "_blank">999</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=qirong+qian" target="_blank">qirong qian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qirong+qian+shanghai+jiao+tong+university" target = "_blank">998</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaofan+wang" target="_blank">xiaofan wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaofan+wang+shanghai+jiao+tong+university" target = "_blank">983</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+han" target="_blank">jie han</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+han+shanghai+jiao+tong+university" target = "_blank">975</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=hao+peng" target="_blank">hao peng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hao+peng+shanghai+jiao+tong+university" target = "_blank">967</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=zonghai+li" target="_blank">zonghai li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zonghai+li+shanghai+jiao+tong+university" target = "_blank">966</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=tongxiang+fan" target="_blank">tongxiang fan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tongxiang+fan+shanghai+jiao+tong+university" target = "_blank">966</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=haitao+hu" target="_blank">haitao hu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=haitao+hu+shanghai+jiao+tong+university" target = "_blank">964</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianren+gu" target="_blank">jianren gu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianren+gu+shanghai+jiao+tong+university" target = "_blank">957</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=jifeng+feng" target="_blank">jifeng feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jifeng+feng+shanghai+jiao+tong+university" target = "_blank">953</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=xianlong+zhang" target="_blank">xianlong zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xianlong+zhang+shanghai+jiao+tong+university" target = "_blank">949</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=yilong+wu" target="_blank">yilong wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yilong+wu+shanghai+jiao+tong+university" target = "_blank">945</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=chenchen+bao" target="_blank">chenchen bao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chenchen+bao+shanghai+jiao+tong+university" target = "_blank">936</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection from Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">I'm liukun, may be your potential friend</p>
  </footer>
</html>
