
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Tsinghua University</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Tsinghua University &nbsp</h2>
       <p>paper number:65910</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=cewen+nan" target="_blank">cewen nan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=cewen+nan+tsinghua+university" target = "_blank">7031</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=dehai+wu" target="_blank">dehai wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dehai+wu+tsinghua+university" target = "_blank">6643</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=fei+wei" target="_blank">fei wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fei+wei+tsinghua+university" target = "_blank">5817</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=yadong+li" target="_blank">yadong li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yadong+li+tsinghua+university" target = "_blank">5813</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=gaoquan+shi" target="_blank">gaoquan shi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gaoquan+shi+tsinghua+university" target = "_blank">5685</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+zhang" target="_blank">qiang zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiang+zhang+tsinghua+university" target = "_blank">5374</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=kunlin+wang" target="_blank">kunlin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kunlin+wang+tsinghua+university" target = "_blank">4328</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=shoushan+fan" target="_blank">shoushan fan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shoushan+fan+tsinghua+university" target = "_blank">4230</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=feiyu+kang" target="_blank">feiyu kang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=feiyu+kang+tsinghua+university" target = "_blank">4073</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinghong+li" target="_blank">jinghong li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinghong+li+tsinghua+university" target = "_blank">3706</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinquan+wei" target="_blank">jinquan wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinquan+wei+tsinghua+university" target = "_blank">3561</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=f+z+cui" target="_blank">f z cui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=f+z+cui+tsinghua+university" target = "_blank">3510</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=hongwei+zhu" target="_blank">hongwei zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hongwei+zhu+tsinghua+university" target = "_blank">3396</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=qing+peng" target="_blank">qing peng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qing+peng+tsinghua+university" target = "_blank">3090</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhuangjun+fan" target="_blank">zhuangjun fan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhuangjun+fan+tsinghua+university" target = "_blank">3048</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=guoqiang+chen" target="_blank">guoqiang chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guoqiang+chen+tsinghua+university" target = "_blank">2970</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=weizhong+qian" target="_blank">weizhong qian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weizhong+qian+tsinghua+university" target = "_blank">2883</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuanhua+lin" target="_blank">yuanhua lin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuanhua+lin+tsinghua+university" target = "_blank">2880</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=tong+wei" target="_blank">tong wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tong+wei+tsinghua+university" target = "_blank">2877</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+yan" target="_blank">jun yan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jun+yan+tsinghua+university" target = "_blank">2868</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=longtu+li" target="_blank">longtu li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=longtu+li+tsinghua+university" target = "_blank">2810</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=kebin+he" target="_blank">kebin he</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kebin+he+tsinghua+university" target = "_blank">2804</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=baoding+liu" target="_blank">baoding liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=baoding+liu+tsinghua+university" target = "_blank">2790</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=chun+li" target="_blank">chun li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chun+li+tsinghua+university" target = "_blank">2781</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=changshui+zhang" target="_blank">changshui zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=changshui+zhang+tsinghua+university" target = "_blank">2762</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=xun+wang" target="_blank">xun wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xun+wang+tsinghua+university" target = "_blank">2713</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=qunqing+li" target="_blank">qunqing li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qunqing+li+tsinghua+university" target = "_blank">2678</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=yongfa+zhu" target="_blank">yongfa zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yongfa+zhu+tsinghua+university" target = "_blank">2636</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=jingfeng+li" target="_blank">jingfeng li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jingfeng+li+tsinghua+university" target = "_blank">2498</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+jia" target="_blank">yi jia</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+jia+tsinghua+university" target = "_blank">2443</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=qiong+wu" target="_blank">qiong wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qiong+wu+tsinghua+university" target = "_blank">2421</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+tang" target="_blank">jie tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jie+tang+tsinghua+university" target = "_blank">2371</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=d+g+streets" target="_blank">d g streets</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=d+g+streets+tsinghua+university" target = "_blank">2364</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiming+hao" target="_blank">jiming hao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiming+hao+tsinghua+university" target = "_blank">2352</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+zhu" target="_blank">jing zhu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+zhu+tsinghua+university" target = "_blank">2343</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=yanhui+li" target="_blank">yanhui li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yanhui+li+tsinghua+university" target = "_blank">2229</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=ling+wang" target="_blank">ling wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ling+wang+tsinghua+university" target = "_blank">2219</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=xuegong+zhang" target="_blank">xuegong zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xuegong+zhang+tsinghua+university" target = "_blank">2185</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=xi+zhang" target="_blank">xi zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xi+zhang+tsinghua+university" target = "_blank">2180</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+zhuang" target="_blank">jing zhuang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+zhuang+tsinghua+university" target = "_blank">2166</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=guoan+luo" target="_blank">guoan luo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guoan+luo+tsinghua+university" target = "_blank">2158</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=fuzhai+cui" target="_blank">fuzhai cui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fuzhai+cui+tsinghua+university" target = "_blank">2085</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhaokun+luan" target="_blank">zhaokun luan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhaokun+luan+tsinghua+university" target = "_blank">2073</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+qiu" target="_blank">yong qiu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yong+qiu+tsinghua+university" target = "_blank">1983</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhengjun+zhang" target="_blank">zhengjun zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhengjun+zhang+tsinghua+university" target = "_blank">1977</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=kaili+jiang" target="_blank">kaili jiang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kaili+jiang+tsinghua+university" target = "_blank">1944</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=buxuan+wang" target="_blank">buxuan wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=buxuan+wang+tsinghua+university" target = "_blank">1915</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=shimin+hu" target="_blank">shimin hu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shimin+hu+tsinghua+university" target = "_blank">1897</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=anyuan+cao" target="_blank">anyuan cao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=anyuan+cao+tsinghua+university" target = "_blank">1891</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=cailu+xu" target="_blank">cailu xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=cailu+xu+tsinghua+university" target = "_blank">1879</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=shangkai+gao" target="_blank">shangkai gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shangkai+gao+tsinghua+university" target = "_blank">1867</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhenghong+huang" target="_blank">zhenghong huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhenghong+huang+tsinghua+university" target = "_blank">1867</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+zhang" target="_blank">bo zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bo+zhang+tsinghua+university" target = "_blank">1865</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=q+l+feng" target="_blank">q l feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=q+l+feng+tsinghua+university" target = "_blank">1835</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=yen+wei" target="_blank">yen wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yen+wei+tsinghua+university" target = "_blank">1825</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=lian+duan" target="_blank">lian duan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lian+duan+tsinghua+university" target = "_blank">1821</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=dehua+liu" target="_blank">dehua liu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dehua+liu+tsinghua+university" target = "_blank">1816</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=milin+zhang" target="_blank">milin zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=milin+zhang+tsinghua+university" target = "_blank">1776</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=weiying+ma" target="_blank">weiying ma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=weiying+ma+tsinghua+university" target = "_blank">1774</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=ruitao+lv" target="_blank">ruitao lv</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ruitao+lv+tsinghua+university" target = "_blank">1757</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=liduo+wang" target="_blank">liduo wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liduo+wang+tsinghua+university" target = "_blank">1751</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=yanda+li" target="_blank">yanda li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yanda+li+tsinghua+university" target = "_blank">1745</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiqiang+wang" target="_blank">zhiqiang wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhiqiang+wang+tsinghua+university" target = "_blank">1744</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=hua+bai" target="_blank">hua bai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hua+bai+tsinghua+university" target = "_blank">1731</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=qingyu+wu" target="_blank">qingyu wu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qingyu+wu+tsinghua+university" target = "_blank">1686</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=zeshui+xu" target="_blank">zeshui xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zeshui+xu+tsinghua+university" target = "_blank">1679</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinming+lin" target="_blank">jinming lin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinming+lin+tsinghua+university" target = "_blank">1675</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+c+hwang" target="_blank">k c hwang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+c+hwang+tsinghua+university" target = "_blank">1662</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaolin+wang" target="_blank">xiaolin wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaolin+wang+tsinghua+university" target = "_blank">1631</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiqiao+feng" target="_blank">xiqiao feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiqiao+feng+tsinghua+university" target = "_blank">1613</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaorong+gao" target="_blank">xiaorong gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaorong+gao+tsinghua+university" target = "_blank">1597</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=guangtao+li" target="_blank">guangtao li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guangtao+li+tsinghua+university" target = "_blank">1576</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=zihe+rao" target="_blank">zihe rao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zihe+rao+tsinghua+university" target = "_blank">1566</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=boqing+xu" target="_blank">boqing xu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=boqing+xu+tsinghua+university" target = "_blank">1565</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinrong+zhang" target="_blank">xinrong zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinrong+zhang+tsinghua+university" target = "_blank">1529</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=qionghai+dai" target="_blank">qionghai dai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qionghai+dai+tsinghua+university" target = "_blank">1525</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=hui+wang" target="_blank">hui wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hui+wang+tsinghua+university" target = "_blank">1523</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=gang+yu" target="_blank">gang yu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gang+yu+tsinghua+university" target = "_blank">1502</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=yu+wang" target="_blank">yu wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yu+wang+tsinghua+university" target = "_blank">1496</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+luo" target="_blank">yi luo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+luo+tsinghua+university" target = "_blank">1496</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuanyuan+duan" target="_blank">yuanyuan duan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuanyuan+duan+tsinghua+university" target = "_blank">1468</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=yiming+wang" target="_blank">yiming wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yiming+wang+tsinghua+university" target = "_blank">1465</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=zhengcao+li" target="_blank">zhengcao li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zhengcao+li+tsinghua+university" target = "_blank">1442</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=qingling+feng" target="_blank">qingling feng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=qingling+feng+tsinghua+university" target = "_blank">1441</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=xia+huang" target="_blank">xia huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xia+huang+tsinghua+university" target = "_blank">1437</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+pan" target="_blank">wei pan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+pan+tsinghua+university" target = "_blank">1432</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=yajun+wang" target="_blank">yajun wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yajun+wang+tsinghua+university" target = "_blank">1429</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaohui+wang" target="_blank">xiaohui wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xiaohui+wang+tsinghua+university" target = "_blank">1419</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=chuang+lin" target="_blank">chuang lin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chuang+lin+tsinghua+university" target = "_blank">1418</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=jiaqi+huang" target="_blank">jiaqi huang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jiaqi+huang+tsinghua+university" target = "_blank">1408</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+li" target="_blank">zheng li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zheng+li+tsinghua+university" target = "_blank">1407</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=tongxiang+cui" target="_blank">tongxiang cui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tongxiang+cui+tsinghua+university" target = "_blank">1406</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=xi+chen" target="_blank">xi chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xi+chen+tsinghua+university" target = "_blank">1400</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=huaqiang+cao" target="_blank">huaqiang cao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=huaqiang+cao+tsinghua+university" target = "_blank">1395</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=longhua+tang" target="_blank">longhua tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=longhua+tang+tsinghua+university" target = "_blank">1393</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=ji+zhou" target="_blank">ji zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ji+zhou+tsinghua+university" target = "_blank">1385</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=xinping+qiu" target="_blank">xinping qiu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=xinping+qiu+tsinghua+university" target = "_blank">1374</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=ji+liang" target="_blank">ji liang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ji+liang+tsinghua+university" target = "_blank">1361</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+chen" target="_blank">jian chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jian+chen+tsinghua+university" target = "_blank">1355</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=juanzi+li" target="_blank">juanzi li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=juanzi+li+tsinghua+university" target = "_blank">1337</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection from Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">I'm liukun, may be your potential friend</p>
  </footer>
</html>
