
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of University of Tokyo</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>University of Tokyo &nbsp</h2>
       <p>paper number:125546</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=ryozo+nagai" target="_blank">ryozo nagai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ryozo+nagai+university+of+tokyo" target = "_blank">15054</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=masao+omata" target="_blank">masao omata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masao+omata+university+of+tokyo" target = "_blank">11915</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kadowaki" target="_blank">takashi kadowaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kadowaki+university+of+tokyo" target = "_blank">11008</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=tadatsugu+taniguchi" target="_blank">tadatsugu taniguchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tadatsugu+taniguchi+university+of+tokyo" target = "_blank">10986</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=takeshi+iwatsubo" target="_blank">takeshi iwatsubo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takeshi+iwatsubo+university+of+tokyo" target = "_blank">9597</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshimasa+yamauchi" target="_blank">toshimasa yamauchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshimasa+yamauchi+university+of+tokyo" target = "_blank">9567</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+aburatani" target="_blank">hiroyuki aburatani</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+aburatani+university+of+tokyo" target = "_blank">8894</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=tatsuhiko+kodama" target="_blank">tatsuhiko kodama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tatsuhiko+kodama+university+of+tokyo" target = "_blank">8252</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+kimura" target="_blank">satoshi kimura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+kimura+university+of+tokyo" target = "_blank">8096</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeaki+kato" target="_blank">shigeaki kato</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeaki+kato+university+of+tokyo" target = "_blank">8007</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=katsushi+tokunaga" target="_blank">katsushi tokunaga</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=katsushi+tokunaga+university+of+tokyo" target = "_blank">7898</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeyuki+yokoyama" target="_blank">shigeyuki yokoyama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeyuki+yokoyama+university+of+tokyo" target = "_blank">7651</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=masatoshi+makuuchi" target="_blank">masatoshi makuuchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masatoshi+makuuchi+university+of+tokyo" target = "_blank">7586</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshiro+fujita" target="_blank">toshiro fujita</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshiro+fujita+university+of+tokyo" target = "_blank">7511</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyuki+tobe" target="_blank">kazuyuki tobe</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyuki+tobe+university+of+tokyo" target = "_blank">7274</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=nobutaka+hirokawa" target="_blank">nobutaka hirokawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nobutaka+hirokawa+university+of+tokyo" target = "_blank">7085</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=kenya+honda" target="_blank">kenya honda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kenya+honda+university+of+tokyo" target = "_blank">7054</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=junji+kamon" target="_blank">junji kamon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junji+kamon+university+of+tokyo" target = "_blank">6861</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+kawaguchi" target="_blank">hiroshi kawaguchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+kawaguchi+university+of+tokyo" target = "_blank">6825</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=philippe+froguel" target="_blank">philippe froguel</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=philippe+froguel+university+of+tokyo" target = "_blank">6751</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshio+yazaki" target="_blank">yoshio yazaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshio+yazaki+university+of+tokyo" target = "_blank">6731</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+nakamura" target="_blank">yusuke nakamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+nakamura+university+of+tokyo" target = "_blank">6728</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=kouji+matsushima" target="_blank">kouji matsushima</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kouji+matsushima+university+of+tokyo" target = "_blank">6696</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunori+kataoka" target="_blank">kazunori kataoka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunori+kataoka+university+of+tokyo" target = "_blank">6460</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=kozo+nakamura" target="_blank">kozo nakamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kozo+nakamura+university+of+tokyo" target = "_blank">6425</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=hironori+waki" target="_blank">hironori waki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hironori+waki+university+of+tokyo" target = "_blank">6386</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+terauchi" target="_blank">yasuo terauchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+terauchi+university+of+tokyo" target = "_blank">6204</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+miyagishi" target="_blank">makoto miyagishi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+miyagishi+university+of+tokyo" target = "_blank">6010</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kadowaki" target="_blank">takashi kadowaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kadowaki+university+of+tokyo" target = "_blank">5837</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunari+taira" target="_blank">kazunari taira</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunari+taira+university+of+tokyo" target = "_blank">5829</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuji+ikegaya" target="_blank">yuji ikegaya</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuji+ikegaya+university+of+tokyo" target = "_blank">5812</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=mutsumi+nishida" target="_blank">mutsumi nishida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mutsumi+nishida+university+of+tokyo" target = "_blank">5669</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=kimihiko+hirao" target="_blank">kimihiko hirao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kimihiko+hirao+university+of+tokyo" target = "_blank">5599</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+akanuma" target="_blank">yasuo akanuma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+akanuma+university+of+tokyo" target = "_blank">5424</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=ichiro+kanazawa" target="_blank">ichiro kanazawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ichiro+kanazawa+university+of+tokyo" target = "_blank">5366</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=naoto+kubota" target="_blank">naoto kubota</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=naoto+kubota+university+of+tokyo" target = "_blank">5364</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=kohjiro+ueki" target="_blank">kohjiro ueki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kohjiro+ueki+university+of+tokyo" target = "_blank">5361</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+shinozaki" target="_blank">kazuo shinozaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+shinozaki+university+of+tokyo" target = "_blank">5246</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuichi+sugiyama" target="_blank">yuichi sugiyama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuichi+sugiyama+university+of+tokyo" target = "_blank">5223</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhiko+koike" target="_blank">kazuhiko koike</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhiko+koike+university+of+tokyo" target = "_blank">5183</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhiko+yamamoto" target="_blank">kazuhiko yamamoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhiko+yamamoto+university+of+tokyo" target = "_blank">5080</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuko+yamaguchishinozaki" target="_blank">kazuko yamaguchishinozaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuko+yamaguchishinozaki+university+of+tokyo" target = "_blank">5026</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=hisamaru+hirai" target="_blank">hisamaru hirai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hisamaru+hirai+university+of+tokyo" target = "_blank">4938</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=kohei+miyazono" target="_blank">kohei miyazono</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kohei+miyazono+university+of+tokyo" target = "_blank">4896</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+tsuruo" target="_blank">takashi tsuruo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+tsuruo+university+of+tokyo" target = "_blank">4726</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+takayanagi" target="_blank">hiroshi takayanagi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+takayanagi+university+of+tokyo" target = "_blank">4572</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+hara" target="_blank">kazuo hara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuo+hara+university+of+tokyo" target = "_blank">4544</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=chiaki+kobayashi" target="_blank">chiaki kobayashi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chiaki+kobayashi+university+of+tokyo" target = "_blank">4458</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=teruyuki+nakajima" target="_blank">teruyuki nakajima</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=teruyuki+nakajima+university+of+tokyo" target = "_blank">4441</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=shizuo+akira" target="_blank">shizuo akira</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shizuo+akira+university+of+tokyo" target = "_blank">4404</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+shimizu" target="_blank">takao shimizu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+shimizu+university+of+tokyo" target = "_blank">4325</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=akinori+takaoka" target="_blank">akinori takaoka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akinori+takaoka+university+of+tokyo" target = "_blank">4311</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=junichi+nakai" target="_blank">junichi nakai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junichi+nakai+university+of+tokyo" target = "_blank">4302</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=masamichi+ohkura" target="_blank">masamichi ohkura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masamichi+ohkura+university+of+tokyo" target = "_blank">4300</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+sasaki" target="_blank">takuya sasaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+sasaki+university+of+tokyo" target = "_blank">4293</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+araie" target="_blank">makoto araie</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+araie+university+of+tokyo" target = "_blank">4254</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeru+chiba" target="_blank">shigeru chiba</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeru+chiba+university+of+tokyo" target = "_blank">4158</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=osamu+ezaki" target="_blank">osamu ezaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=osamu+ezaki+university+of+tokyo" target = "_blank">4097</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshinori+tokura" target="_blank">yoshinori tokura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshinori+tokura+university+of+tokyo" target = "_blank">4079</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuhiko+arakawa" target="_blank">yasuhiko arakawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuhiko+arakawa+university+of+tokyo" target = "_blank">4011</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=seishi+ogawa" target="_blank">seishi ogawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=seishi+ogawa+university+of+tokyo" target = "_blank">3973</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuyoshi+ouchi" target="_blank">yasuyoshi ouchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuyoshi+ouchi+university+of+tokyo" target = "_blank">3966</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=masaki+miya" target="_blank">masaki miya</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masaki+miya+university+of+tokyo" target = "_blank">3939</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=takuzo+aida" target="_blank">takuzo aida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takuzo+aida+university+of+tokyo" target = "_blank">3914</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+someya" target="_blank">takao someya</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takao+someya+university+of+tokyo" target = "_blank">3901</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=hideyuki+yanai" target="_blank">hideyuki yanai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hideyuki+yanai+university+of+tokyo" target = "_blank">3884</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=hirokazu+nagawa" target="_blank">hirokazu nagawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hirokazu+nagawa+university+of+tokyo" target = "_blank">3868</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+fujishima" target="_blank">akira fujishima</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+fujishima+university+of+tokyo" target = "_blank">3863</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=yutaka+suzuki" target="_blank">yutaka suzuki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yutaka+suzuki+university+of+tokyo" target = "_blank">3781</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+kagechika" target="_blank">hiroyuki kagechika</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+kagechika+university+of+tokyo" target = "_blank">3766</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=yuji+taketani" target="_blank">yuji taketani</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yuji+taketani+university+of+tokyo" target = "_blank">3678</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=hideo+negishi" target="_blank">hideo negishi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hideo+negishi+university+of+tokyo" target = "_blank">3667</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=yosuke+tanaka" target="_blank">yosuke tanaka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yosuke+tanaka+university+of+tokyo" target = "_blank">3631</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+ohba" target="_blank">yusuke ohba</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+ohba+university+of+tokyo" target = "_blank">3587</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=kuni+ohtomo" target="_blank">kuni ohtomo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kuni+ohtomo+university+of+tokyo" target = "_blank">3548</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+ihara" target="_blank">yasuo ihara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+ihara+university+of+tokyo" target = "_blank">3504</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=seiji+fukumoto" target="_blank">seiji fukumoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=seiji+fukumoto+university+of+tokyo" target = "_blank">3503</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=shunbun+kita" target="_blank">shunbun kita</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shunbun+kita+university+of+tokyo" target = "_blank">3458</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+uchida" target="_blank">s uchida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+uchida+university+of+tokyo" target = "_blank">3406</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=kikuji+itoh" target="_blank">kikuji itoh</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kikuji+itoh+university+of+tokyo" target = "_blank">3325</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+suzuki" target="_blank">hiroshi suzuki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+suzuki+university+of+tokyo" target = "_blank">3316</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=tomohiro+ide" target="_blank">tomohiro ide</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tomohiro+ide+university+of+tokyo" target = "_blank">3303</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+inoue" target="_blank">satoshi inoue</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+inoue+university+of+tokyo" target = "_blank">3297</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+miyashita" target="_blank">yasushi miyashita</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+miyashita+university+of+tokyo" target = "_blank">3296</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+okada" target="_blank">yasushi okada</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+okada+university+of+tokyo" target = "_blank">3277</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhiko+ishihara" target="_blank">kazuhiko ishihara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhiko+ishihara+university+of+tokyo" target = "_blank">3262</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+shiratori" target="_blank">yasushi shiratori</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasushi+shiratori+university+of+tokyo" target = "_blank">3224</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+arai" target="_blank">hiroyuki arai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+arai+university+of+tokyo" target = "_blank">3221</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=tsuneyoshi+kuroiwa" target="_blank">tsuneyoshi kuroiwa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tsuneyoshi+kuroiwa+university+of+tokyo" target = "_blank">3203</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunari+domen" target="_blank">kazunari domen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazunari+domen+university+of+tokyo" target = "_blank">3194</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=osamu+nureki" target="_blank">osamu nureki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=osamu+nureki+university+of+tokyo" target = "_blank">3173</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=masashi+fukayama" target="_blank">masashi fukayama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masashi+fukayama+university+of+tokyo" target = "_blank">3164</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhito+hashimoto" target="_blank">kazuhito hashimoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuhito+hashimoto+university+of+tokyo" target = "_blank">3162</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=sumio+sugano" target="_blank">sumio sugano</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sumio+sugano+university+of+tokyo" target = "_blank">3158</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroo+fukuda" target="_blank">hiroo fukuda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroo+fukuda+university+of+tokyo" target = "_blank">3155</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiromi+nakanishi" target="_blank">hiromi nakanishi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiromi+nakanishi+university+of+tokyo" target = "_blank">3153</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+sakaki" target="_blank">hiroyuki sakaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+sakaki+university+of+tokyo" target = "_blank">3143</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=kiyoto+kasai" target="_blank">kiyoto kasai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kiyoto+kasai+university+of+tokyo" target = "_blank">3122</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=haruhiko+yoshida" target="_blank">haruhiko yoshida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=haruhiko+yoshida+university+of+tokyo" target = "_blank">3120</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=tadatoshi+takayama" target="_blank">tadatoshi takayama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tadatoshi+takayama+university+of+tokyo" target = "_blank">3119</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection of Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">Author: Liukun</p>
  </footer>
</html>
