
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of University of Hong Kong</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>University of Hong Kong &nbsp</h2>
       <p>paper number:37639</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+guan" target="_blank">yi guan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yi+guan+university+of+hong+kong" target = "_blank">10405</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=min+sun" target="_blank">min sun</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=min+sun+university+of+hong+kong" target = "_blank">9947</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=pak+c+sham" target="_blank">pak c sham</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=pak+c+sham+university+of+hong+kong" target = "_blank">9508</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+y+yuen" target="_blank">k y yuen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+y+yuen+university+of+hong+kong" target = "_blank">7801</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=james+lam" target="_blank">james lam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=james+lam+university+of+hong+kong" target = "_blank">7701</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=shaun+purcell" target="_blank">shaun purcell</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shaun+purcell+university+of+hong+kong" target = "_blank">7158</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=mark+j+daly" target="_blank">mark j daly</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mark+j+daly+university+of+hong+kong" target = "_blank">7143</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=manuel+a+r+ferreira" target="_blank">manuel a r ferreira</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=manuel+a+r+ferreira+university+of+hong+kong" target = "_blank">7027</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=benjamin+m+neale" target="_blank">benjamin m neale</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=benjamin+m+neale+university+of+hong+kong" target = "_blank">7024</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=pamela+sklar" target="_blank">pamela sklar</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=pamela+sklar+university+of+hong+kong" target = "_blank">7019</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+e+o+toddbrown" target="_blank">k e o toddbrown</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+e+o+toddbrown+university+of+hong+kong" target = "_blank">7019</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+i+w+de+bakker" target="_blank">paul i w de bakker</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+i+w+de+bakker+university+of+hong+kong" target = "_blank">7019</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=lori+thomas" target="_blank">lori thomas</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lori+thomas+university+of+hong+kong" target = "_blank">7019</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=julian+b+maller" target="_blank">julian b maller</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=julian+b+maller+university+of+hong+kong" target = "_blank">7019</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=d+e+bender" target="_blank">d e bender</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=d+e+bender+university+of+hong+kong" target = "_blank">7019</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=guochun+zhao" target="_blank">guochun zhao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guochun+zhao+university+of+hong+kong" target = "_blank">7001</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+t+fan" target="_blank">s t fan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+t+fan+university+of+hong+kong" target = "_blank">6593</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+wong" target="_blank">j wong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+wong+university+of+hong+kong" target = "_blank">5450</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=chinglung+lai" target="_blank">chinglung lai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chinglung+lai+university+of+hong+kong" target = "_blank">5186</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=l+p+samaranayake" target="_blank">l p samaranayake</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=l+p+samaranayake+university+of+hong+kong" target = "_blank">5154</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=john+m+nicholls" target="_blank">john m nicholls</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=john+m+nicholls+university+of+hong+kong" target = "_blank">5029</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+a+wilde" target="_blank">simon a wilde</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+a+wilde+university+of+hong+kong" target = "_blank">5021</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=a+b+djurisic" target="_blank">a b djurisic</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=a+b+djurisic+university+of+hong+kong" target = "_blank">4955</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=tatia+m+c+lee" target="_blank">tatia m c lee</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tatia+m+c+lee+university+of+hong+kong" target = "_blank">4913</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=f+r+tay" target="_blank">f r tay</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=f+r+tay+university+of+hong+kong" target = "_blank">4897</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=sheungtat+fan" target="_blank">sheungtat fan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sheungtat+fan+university+of+hong+kong" target = "_blank">4725</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=chupak+lau" target="_blank">chupak lau</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chupak+lau+university+of+hong+kong" target = "_blank">4539</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=chiming+che" target="_blank">chiming che</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chiming+che+university+of+hong+kong" target = "_blank">4393</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=kwokyung+yuen" target="_blank">kwokyung yuen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kwokyung+yuen+university+of+hong+kong" target = "_blank">4336</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=meifu+zhou" target="_blank">meifu zhou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=meifu+zhou+university+of+hong+kong" target = "_blank">4209</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=t+h+lam" target="_blank">t h lam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=t+h+lam+university+of+hong+kong" target = "_blank">4040</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=chetwyn+c+h+chan" target="_blank">chetwyn c h chan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chetwyn+c+h+chan+university+of+hong+kong" target = "_blank">4002</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=jsm+peiris" target="_blank">jsm peiris</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jsm+peiris+university+of+hong+kong" target = "_blank">3883</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=ronnie+t+p+poon" target="_blank">ronnie t p poon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ronnie+t+p+poon+university+of+hong+kong" target = "_blank">3881</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=manfung+yuen" target="_blank">manfung yuen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=manfung+yuen+university+of+hong+kong" target = "_blank">3803</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+g+webster" target="_blank">robert g webster</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+g+webster+university+of+hong+kong" target = "_blank">3766</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=hungfat+tse" target="_blank">hungfat tse</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hungfat+tse+university+of+hong+kong" target = "_blank">3652</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+f+shortridge" target="_blank">k f shortridge</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+f+shortridge+university+of+hong+kong" target = "_blank">3647</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+m+peiris" target="_blank">j s m peiris</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+m+peiris+university+of+hong+kong" target = "_blank">3647</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+dudgeon" target="_blank">david dudgeon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+dudgeon+university+of+hong+kong" target = "_blank">3509</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=jonathan+s+t+sham" target="_blank">jonathan s t sham</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jonathan+s+t+sham+university+of+hong+kong" target = "_blank">3477</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+malik+peiris" target="_blank">j s malik peiris</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+malik+peiris+university+of+hong+kong" target = "_blank">3357</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=leo+l+m+poon" target="_blank">leo l m poon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=leo+l+m+poon+university+of+hong+kong" target = "_blank">3312</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=feng+chen" target="_blank">feng chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=feng+chen+university+of+hong+kong" target = "_blank">3219</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=w+i+wei" target="_blank">w i wei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=w+i+wei+university+of+hong+kong" target = "_blank">3117</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=herbert+h+p+fang" target="_blank">herbert h p fang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=herbert+h+p+fang+university+of+hong+kong" target = "_blank">3038</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=harold+corke" target="_blank">harold corke</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=harold+corke+university+of+hong+kong" target = "_blank">2980</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=llm+poon" target="_blank">llm poon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=llm+poon+university+of+hong+kong" target = "_blank">2964</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+h+pashley" target="_blank">david h pashley</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+h+pashley+university+of+hong+kong" target = "_blank">2867</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=kwokfai+so" target="_blank">kwokfai so</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kwokfai+so+university+of+hong+kong" target = "_blank">2863</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+h+leung" target="_blank">y h leung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+h+leung+university+of+hong+kong" target = "_blank">2783</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=w+w+lu" target="_blank">w w lu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=w+w+lu+university+of+hong+kong" target = "_blank">2704</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=chunhua+yan" target="_blank">chunhua yan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chunhua+yan+university+of+hong+kong" target = "_blank">2625</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=jidong+gu" target="_blank">jidong gu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jidong+gu+university+of+hong+kong" target = "_blank">2621</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=g+m+leung" target="_blank">g m leung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=g+m+leung+university+of+hong+kong" target = "_blank">2618</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+l+lau" target="_blank">y l lau</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+l+lau+university+of+hong+kong" target = "_blank">2557</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=ronnie+tungping+poon" target="_blank">ronnie tungping poon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ronnie+tungping+poon+university+of+hong+kong" target = "_blank">2525</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+h+chan" target="_blank">k h chan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+h+chan+university+of+hong+kong" target = "_blank">2519</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=irene+oilin+ng" target="_blank">irene oilin ng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=irene+oilin+ng+university+of+hong+kong" target = "_blank">2479</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=chungmau+lo" target="_blank">chungmau lo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chungmau+lo+university+of+hong+kong" target = "_blank">2455</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+m+lo" target="_blank">c m lo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+m+lo+university+of+hong+kong" target = "_blank">2450</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=sanzhong+li" target="_blank">sanzhong li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sanzhong+li+university+of+hong+kong" target = "_blank">2444</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=k+d+k+luk" target="_blank">k d k luk</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=k+d+k+luk+university+of+hong+kong" target = "_blank">2441</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=karen+s+l+lam" target="_blank">karen s l lam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=karen+s+l+lam+university+of+hong+kong" target = "_blank">2422</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=nikos+mamoulis" target="_blank">nikos mamoulis</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nikos+mamoulis+university+of+hong+kong" target = "_blank">2400</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=patrick+c+y+woo" target="_blank">patrick c y woo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=patrick+c+y+woo+university+of+hong+kong" target = "_blank">2390</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=liqiu+wang" target="_blank">liqiu wang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=liqiu+wang+university+of+hong+kong" target = "_blank">2381</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+k+lam" target="_blank">s k lam</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+k+lam+university+of+hong+kong" target = "_blank">2338</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+ming+yuen+lee" target="_blank">simon ming yuen lee</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+ming+yuen+lee+university+of+hong+kong" target = "_blank">2323</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=irene+o+l+ng" target="_blank">irene o l ng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=irene+o+l+ng+university+of+hong+kong" target = "_blank">2284</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+t+yuen" target="_blank">s t yuen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+t+yuen+university+of+hong+kong" target = "_blank">2284</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+w+tsao" target="_blank">s w tsao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+w+tsao+university+of+hong+kong" target = "_blank">2249</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=jianhui+rong" target="_blank">jianhui rong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jianhui+rong+university+of+hong+kong" target = "_blank">2242</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=dora+l+w+kwong" target="_blank">dora l w kwong</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=dora+l+w+kwong+university+of+hong+kong" target = "_blank">2237</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=m+gessner" target="_blank">m gessner</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=m+gessner+university+of+hong+kong" target = "_blank">2214</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=zaijun+zhang" target="_blank">zaijun zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=zaijun+zhang+university+of+hong+kong" target = "_blank">2195</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+y+leung" target="_blank">s y leung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+y+leung+university+of+hong+kong" target = "_blank">2195</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=yifan+han" target="_blank">yifan han</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yifan+han+university+of+hong+kong" target = "_blank">2194</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+t+lai" target="_blank">s t lai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+t+lai+university+of+hong+kong" target = "_blank">2181</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+cui" target="_blank">wei cui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wei+cui+university+of+hong+kong" target = "_blank">2174</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=meikei+leung" target="_blank">meikei leung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=meikei+leung+university+of+hong+kong" target = "_blank">2172</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=honglin+chen" target="_blank">honglin chen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=honglin+chen+university+of+hong+kong" target = "_blank">2166</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=john+m+luk" target="_blank">john m luk</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=john+m+luk+university+of+hong+kong" target = "_blank">2163</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=wenming+li" target="_blank">wenming li</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wenming+li+university+of+hong+kong" target = "_blank">2156</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=shengquan+hu" target="_blank">shengquan hu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shengquan+hu+university+of+hong+kong" target = "_blank">2150</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=shinghung+mak" target="_blank">shinghung mak</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shinghung+mak+university+of+hong+kong" target = "_blank">2150</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=huan+zhang" target="_blank">huan zhang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=huan+zhang+university+of+hong+kong" target = "_blank">2144</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=y+h+samaranayake" target="_blank">y h samaranayake</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=y+h+samaranayake+university+of+hong+kong" target = "_blank">2141</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=joey+c+y+tang" target="_blank">joey c y tang</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=joey+c+y+tang+university+of+hong+kong" target = "_blank">2141</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=tony+chunglit+choi" target="_blank">tony chunglit choi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tony+chunglit+choi+university+of+hong+kong" target = "_blank">2131</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=shuai+yuan" target="_blank">shuai yuan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shuai+yuan+university+of+hong+kong" target = "_blank">2131</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=waikai+hou" target="_blank">waikai hou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=waikai+hou+university+of+hong+kong" target = "_blank">2130</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+yin" target="_blank">jing yin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jing+yin+university+of+hong+kong" target = "_blank">2130</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=huijun+gao" target="_blank">huijun gao</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=huijun+gao+university+of+hong+kong" target = "_blank">2130</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=chackfan+lee" target="_blank">chackfan lee</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chackfan+lee+university+of+hong+kong" target = "_blank">2130</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=caroline+a+sullivan" target="_blank">caroline a sullivan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=caroline+a+sullivan+university+of+hong+kong" target = "_blank">2105</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=kevin+d+hyde" target="_blank">kevin d hyde</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kevin+d+hyde+university+of+hong+kong" target = "_blank">2093</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=ester+cerin" target="_blank">ester cerin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ester+cerin+university+of+hong+kong" target = "_blank">2081</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=wallace+c+h+choy" target="_blank">wallace c h choy</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=wallace+c+h+choy+university+of+hong+kong" target = "_blank">2076</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=vcc+cheng" target="_blank">vcc cheng</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=vcc+cheng+university+of+hong+kong" target = "_blank">2070</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection of Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">Author: Liukun</p>
  </footer>
</html>
