
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of University of Cambridge</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>University of Cambridge &nbsp</h2>
       <p>paper number:83088</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=trevor+w+robbins" target="_blank">trevor w robbins</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=trevor+w+robbins+university+of+cambridge" target = "_blank">33756</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+baroncohen" target="_blank">simon baroncohen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+baroncohen+university+of+cambridge" target = "_blank">17685</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=barbara+j+sahakian" target="_blank">barbara j sahakian</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=barbara+j+sahakian+university+of+cambridge" target = "_blank">14358</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=barry+j+everitt" target="_blank">barry j everitt</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=barry+j+everitt+university+of+cambridge" target = "_blank">13832</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=tony+kouzarides" target="_blank">tony kouzarides</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tony+kouzarides+university+of+cambridge" target = "_blank">13514</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=randy+j+read" target="_blank">randy j read</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=randy+j+read+university+of+cambridge" target = "_blank">12161</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=airlie+j+mccoy" target="_blank">airlie j mccoy</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=airlie+j+mccoy+university+of+cambridge" target = "_blank">11395</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=edward+t+bullmore" target="_blank">edward t bullmore</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=edward+t+bullmore+university+of+cambridge" target = "_blank">9921</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=douglas+f+easton" target="_blank">douglas f easton</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=douglas+f+easton+university+of+cambridge" target = "_blank">9716</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=henning+sirringhaus" target="_blank">henning sirringhaus</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=henning+sirringhaus+university+of+cambridge" target = "_blank">9642</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=r+h+friend" target="_blank">r h friend</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=r+h+friend+university+of+cambridge" target = "_blank">9353</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=r+w+grossekunstleve" target="_blank">r w grossekunstleve</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=r+w+grossekunstleve+university+of+cambridge" target = "_blank">8512</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=christopher+m+dobson" target="_blank">christopher m dobson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=christopher+m+dobson+university+of+cambridge" target = "_blank">8387</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+d+adams" target="_blank">paul d adams</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+d+adams+university+of+cambridge" target = "_blank">8019</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=sally+wheelwright" target="_blank">sally wheelwright</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sally+wheelwright+university+of+cambridge" target = "_blank">7418</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=carlos+caldas" target="_blank">carlos caldas</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=carlos+caldas+university+of+cambridge" target = "_blank">7409</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+ashburner" target="_blank">michael ashburner</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+ashburner+university+of+cambridge" target = "_blank">7113</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=kaytee+khaw" target="_blank">kaytee khaw</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kaytee+khaw+university+of+cambridge" target = "_blank">7083</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=ed+bullmore" target="_blank">ed bullmore</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ed+bullmore+university+of+cambridge" target = "_blank">7083</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=adrian+m+owen" target="_blank">adrian m owen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=adrian+m+owen+university+of+cambridge" target = "_blank">6980</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=tom+l+blundell" target="_blank">tom l blundell</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tom+l+blundell+university+of+cambridge" target = "_blank">6817</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=john+r+hodges" target="_blank">john r hodges</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=john+r+hodges+university+of+cambridge" target = "_blank">6764</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+p+farrington" target="_blank">david p farrington</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+p+farrington+university+of+cambridge" target = "_blank">6468</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=john+trowsdale" target="_blank">john trowsdale</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=john+trowsdale+university+of+cambridge" target = "_blank">6261</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+balmford" target="_blank">andrew balmford</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+balmford+university+of+cambridge" target = "_blank">5983</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=a+c+ferrari" target="_blank">a c ferrari</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=a+c+ferrari+university+of+cambridge" target = "_blank">5966</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=stephen+p+jackson" target="_blank">stephen p jackson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=stephen+p+jackson+university+of+cambridge" target = "_blank">5926</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+robertson" target="_blank">j robertson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+robertson+university+of+cambridge" target = "_blank">5816</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+luben" target="_blank">robert luben</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=robert+luben+university+of+cambridge" target = "_blank">5751</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=julie+ahringer" target="_blank">julie ahringer</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=julie+ahringer+university+of+cambridge" target = "_blank">5687</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=eric+a+miska" target="_blank">eric a miska</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=eric+a+miska+university+of+cambridge" target = "_blank">5646</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+c+rubinsztein" target="_blank">david c rubinsztein</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+c+rubinsztein+university+of+cambridge" target = "_blank">5636</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=nicholas+j+wareham" target="_blank">nicholas j wareham</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nicholas+j+wareham+university+of+cambridge" target = "_blank">5485</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=nicola+s+clayton" target="_blank">nicola s clayton</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nicola+s+clayton+university+of+cambridge" target = "_blank">5484</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=l+c+storoni" target="_blank">l c storoni</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=l+c+storoni+university+of+cambridge" target = "_blank">5447</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=anthony+dickinson" target="_blank">anthony dickinson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=anthony+dickinson+university+of+cambridge" target = "_blank">5400</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=stephen+orahilly" target="_blank">stephen orahilly</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=stephen+orahilly+university+of+cambridge" target = "_blank">5382</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=nicholas+j+wareham" target="_blank">nicholas j wareham</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nicholas+j+wareham+university+of+cambridge" target = "_blank">5234</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=robin+j+m+franklin" target="_blank">robin j m franklin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=robin+j+m+franklin+university+of+cambridge" target = "_blank">5125</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=t+h+cluttonbrock" target="_blank">t h cluttonbrock</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=t+h+cluttonbrock+university+of+cambridge" target = "_blank">5119</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=jeffrey+w+dalley" target="_blank">jeffrey w dalley</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jeffrey+w+dalley+university+of+cambridge" target = "_blank">5051</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=bryan+t+grenfell" target="_blank">bryan t grenfell</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bryan+t+grenfell+university+of+cambridge" target = "_blank">4825</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=carol+v+robinson" target="_blank">carol v robinson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=carol+v+robinson+university+of+cambridge" target = "_blank">4811</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=steven+hand" target="_blank">steven hand</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=steven+hand+university+of+cambridge" target = "_blank">4733</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=ross+anderson" target="_blank">ross anderson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ross+anderson+university+of+cambridge" target = "_blank">4721</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=ian+pratt" target="_blank">ian pratt</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ian+pratt+university+of+cambridge" target = "_blank">4699</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+g+fraser" target="_blank">andrew g fraser</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+g+fraser+university+of+cambridge" target = "_blank">4694</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=herman+waldmann" target="_blank">herman waldmann</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=herman+waldmann+university+of+cambridge" target = "_blank">4659</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=n+e+day" target="_blank">n e day</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=n+e+day+university+of+cambridge" target = "_blank">4653</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+w+hawking" target="_blank">s w hawking</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+w+hawking+university+of+cambridge" target = "_blank">4620</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=d+a+ritchie" target="_blank">d a ritchie</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=d+a+ritchie+university+of+cambridge" target = "_blank">4617</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=elio+riboli" target="_blank">elio riboli</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=elio+riboli+university+of+cambridge" target = "_blank">4607</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=m+a+fergusonsmith" target="_blank">m a fergusonsmith</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=m+a+fergusonsmith+university+of+cambridge" target = "_blank">4602</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=sheila+bingham" target="_blank">sheila bingham</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sheila+bingham+university+of+cambridge" target = "_blank">4555</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=keir+fraser" target="_blank">keir fraser</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=keir+fraser+university+of+cambridge" target = "_blank">4545</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=michele+vendruscolo" target="_blank">michele vendruscolo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michele+vendruscolo+university+of+cambridge" target = "_blank">4503</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+e+compston" target="_blank">j e compston</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+e+compston+university+of+cambridge" target = "_blank">4501</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+j+bannister" target="_blank">andrew j bannister</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+j+bannister+university+of+cambridge" target = "_blank">4466</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=bruce+a+j+ponder" target="_blank">bruce a j ponder</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=bruce+a+j+ponder+university+of+cambridge" target = "_blank">4436</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=g+a+j+amaratunga" target="_blank">g a j amaratunga</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=g+a+j+amaratunga+university+of+cambridge" target = "_blank">4401</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=c+n+hales" target="_blank">c n hales</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=c+n+hales+university+of+cambridge" target = "_blank">4349</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=james+w+fawcett" target="_blank">james w fawcett</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=james+w+fawcett+university+of+cambridge" target = "_blank">4304</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=jon+crowcroft" target="_blank">jon crowcroft</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jon+crowcroft+university+of+cambridge" target = "_blank">4289</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=kim+overvad" target="_blank">kim overvad</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kim+overvad+university+of+cambridge" target = "_blank">4289</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=maria+grazia+spillantini" target="_blank">maria grazia spillantini</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=maria+grazia+spillantini+university+of+cambridge" target = "_blank">4288</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=roger+a+barker" target="_blank">roger a barker</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=roger+a+barker+university+of+cambridge" target = "_blank">4280</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=luke+clark" target="_blank">luke clark</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=luke+clark+university+of+cambridge" target = "_blank">4221</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=ravi+s+kamath" target="_blank">ravi s kamath</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ravi+s+kamath+university+of+cambridge" target = "_blank">4150</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=m+d+winn" target="_blank">m d winn</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=m+d+winn+university+of+cambridge" target = "_blank">4133</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=rosario+tumino" target="_blank">rosario tumino</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=rosario+tumino+university+of+cambridge" target = "_blank">4065</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=w+i+milne" target="_blank">w i milne</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=w+i+milne+university+of+cambridge" target = "_blank">4051</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=e+s+paykel" target="_blank">e s paykel</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=e+s+paykel+university+of+cambridge" target = "_blank">4047</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=alan+h+windle" target="_blank">alan h windle</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=alan+h+windle+university+of+cambridge" target = "_blank">3996</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+h+hastings" target="_blank">michael h hastings</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+h+hastings+university+of+cambridge" target = "_blank">3949</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=thomas+c+terwilliger" target="_blank">thomas c terwilliger</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=thomas+c+terwilliger+university+of+cambridge" target = "_blank">3934</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=heiner+boeing" target="_blank">heiner boeing</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=heiner+boeing+university+of+cambridge" target = "_blank">3914</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=susan+e+celniker" target="_blank">susan e celniker</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=susan+e+celniker+university+of+cambridge" target = "_blank">3907</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=kathryn+s+lilley" target="_blank">kathryn s lilley</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kathryn+s+lilley+university+of+cambridge" target = "_blank">3899</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=john+suckling" target="_blank">john suckling</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=john+suckling+university+of+cambridge" target = "_blank">3833</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+warfield" target="_blank">andrew warfield</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=andrew+warfield+university+of+cambridge" target = "_blank">3826</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=b+r+webber" target="_blank">b r webber</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=b+r+webber+university+of+cambridge" target = "_blank">3824</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=tim+harris" target="_blank">tim harris</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tim+harris+university+of+cambridge" target = "_blank">3785</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=nicholas+c+handy" target="_blank">nicholas c handy</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nicholas+c+handy+university+of+cambridge" target = "_blank">3772</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+tavare" target="_blank">simon tavare</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=simon+tavare+university+of+cambridge" target = "_blank">3757</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=nigel+w+moriarty" target="_blank">nigel w moriarty</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=nigel+w+moriarty+university+of+cambridge" target = "_blank">3746</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=anne+tjonneland" target="_blank">anne tjonneland</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=anne+tjonneland+university+of+cambridge" target = "_blank">3746</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+w+dunne" target="_blank">david w dunne</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+w+dunne+university+of+cambridge" target = "_blank">3717</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=gerald+m+rubin" target="_blank">gerald m rubin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=gerald+m+rubin+university+of+cambridge" target = "_blank">3700</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=david+b+dunger" target="_blank">david b dunger</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=david+b+dunger+university+of+cambridge" target = "_blank">3682</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+r+stratton" target="_blank">michael r stratton</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=michael+r+stratton+university+of+cambridge" target = "_blank">3664</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=antonia+trichopoulou" target="_blank">antonia trichopoulou</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=antonia+trichopoulou+university+of+cambridge" target = "_blank">3647</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=francoise+clavelchapelon" target="_blank">francoise clavelchapelon</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=francoise+clavelchapelon+university+of+cambridge" target = "_blank">3616</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=cahir+j+okane" target="_blank">cahir j okane</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=cahir+j+okane+university+of+cambridge" target = "_blank">3570</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=p+k+townsend" target="_blank">p k townsend</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=p+k+townsend+university+of+cambridge" target = "_blank">3538</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=guy+c+brown" target="_blank">guy c brown</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=guy+c+brown+university+of+cambridge" target = "_blank">3500</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+barham" target="_blank">paul barham</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=paul+barham+university+of+cambridge" target = "_blank">3493</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=morris+j+brown" target="_blank">morris j brown</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=morris+j+brown+university+of+cambridge" target = "_blank">3445</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=hanspeter+hartung" target="_blank">hanspeter hartung</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hanspeter+hartung+university+of+cambridge" target = "_blank">3419</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=antonio+vidalpuig" target="_blank">antonio vidalpuig</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=antonio+vidalpuig+university+of+cambridge" target = "_blank">3375</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=rhys+e+green" target="_blank">rhys e green</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=rhys+e+green+university+of+cambridge" target = "_blank">3371</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection of Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">Author: Liukun</p>
  </footer>
</html>
