
<!DOCTYPE html>
<html>
  <head>	  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <title>Rank of Waseda University</title>
  </head>
  <body>

    <div class="container" ><font face="Arial">
       <h2>Waseda University &nbsp</h2>
       <p>paper number:18102</p>
       <p>Most Valuable Researcher :) </p>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>rank</th>
            <th>Author</th>
            <th>Cite count from local data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>1</td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuya+osaka" target="_blank">tetsuya osaka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuya+osaka+waseda+university" target = "_blank">3528</a></td>
            </tr>
            <tr>
            <td>2</td>
            <td><a href="http://cn.bing.com/academic/search?q=takayuki+sota" target="_blank">takayuki sota</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takayuki+sota+waseda+university" target = "_blank">3037</a></td>
            </tr>
            <tr>
            <td>3</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigenobu+shibata" target="_blank">shigenobu shibata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigenobu+shibata+waseda+university" target = "_blank">2601</a></td>
            </tr>
            <tr>
            <td>4</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigefusa+f+chichibu" target="_blank">shigefusa f chichibu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigefusa+f+chichibu+waseda+university" target = "_blank">2462</a></td>
            </tr>
            <tr>
            <td>5</td>
            <td><a href="http://cn.bing.com/academic/search?q=atsuo+takanishi" target="_blank">atsuo takanishi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=atsuo+takanishi+waseda+university" target = "_blank">1992</a></td>
            </tr>
            <tr>
            <td>6</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyuki+kuroda" target="_blank">kazuyuki kuroda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyuki+kuroda+waseda+university" target = "_blank">1953</a></td>
            </tr>
            <tr>
            <td>7</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+nishide" target="_blank">hiroyuki nishide</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroyuki+nishide+waseda+university" target = "_blank">1807</a></td>
            </tr>
            <tr>
            <td>8</td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+tsuneda" target="_blank">satoshi tsuneda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+tsuneda+waseda+university" target = "_blank">1753</a></td>
            </tr>
            <tr>
            <td>9</td>
            <td><a href="http://cn.bing.com/academic/search?q=takahiro+moriya" target="_blank">takahiro moriya</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takahiro+moriya+waseda+university" target = "_blank">1637</a></td>
            </tr>
            <tr>
            <td>10</td>
            <td><a href="http://cn.bing.com/academic/search?q=eishun+tsuchida" target="_blank">eishun tsuchida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=eishun+tsuchida+waseda+university" target = "_blank">1589</a></td>
            </tr>
            <tr>
            <td>11</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshimichi+ohki" target="_blank">yoshimichi ohki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshimichi+ohki+waseda+university" target = "_blank">1585</a></td>
            </tr>
            <tr>
            <td>12</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+azuhata" target="_blank">takashi azuhata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+azuhata+waseda+university" target = "_blank">1546</a></td>
            </tr>
            <tr>
            <td>13</td>
            <td><a href="http://cn.bing.com/academic/search?q=mitsuo+gen" target="_blank">mitsuo gen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mitsuo+gen+waseda+university" target = "_blank">1539</a></td>
            </tr>
            <tr>
            <td>14</td>
            <td><a href="http://cn.bing.com/academic/search?q=teruo+okano" target="_blank">teruo okano</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=teruo+okano+waseda+university" target = "_blank">1481</a></td>
            </tr>
            <tr>
            <td>15</td>
            <td><a href="http://cn.bing.com/academic/search?q=sakae+kikuyama" target="_blank">sakae kikuyama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sakae+kikuyama+waseda+university" target = "_blank">1415</a></td>
            </tr>
            <tr>
            <td>16</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiromi+nakai" target="_blank">hiromi nakai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiromi+nakai+waseda+university" target = "_blank">1408</a></td>
            </tr>
            <tr>
            <td>17</td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+n+nakamura" target="_blank">satoshi n nakamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+n+nakamura+waseda+university" target = "_blank">1307</a></td>
            </tr>
            <tr>
            <td>18</td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+yamauchi" target="_blank">yusuke yamauchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+yamauchi+waseda+university" target = "_blank">1236</a></td>
            </tr>
            <tr>
            <td>19</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyoshi+tsutsui" target="_blank">kazuyoshi tsutsui</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazuyoshi+tsutsui+waseda+university" target = "_blank">1185</a></td>
            </tr>
            <tr>
            <td>20</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshiyuki+momma" target="_blank">toshiyuki momma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshiyuki+momma+waseda+university" target = "_blank">1120</a></td>
            </tr>
            <tr>
            <td>21</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+kawarada" target="_blank">hiroshi kawarada</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroshi+kawarada+waseda+university" target = "_blank">1091</a></td>
            </tr>
            <tr>
            <td>22</td>
            <td><a href="http://cn.bing.com/academic/search?q=kiyotaka+sakai" target="_blank">kiyotaka sakai</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kiyotaka+sakai+waseda+university" target = "_blank">1075</a></td>
            </tr>
            <tr>
            <td>23</td>
            <td><a href="http://cn.bing.com/academic/search?q=tohru+yoshioka" target="_blank">tohru yoshioka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tohru+yoshioka+waseda+university" target = "_blank">1010</a></td>
            </tr>
            <tr>
            <td>24</td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+hirata" target="_blank">akira hirata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+hirata+waseda+university" target = "_blank">1006</a></td>
            </tr>
            <tr>
            <td>25</td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+ogawa" target="_blank">makoto ogawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=makoto+ogawa+waseda+university" target = "_blank">936</a></td>
            </tr>
            <tr>
            <td>26</td>
            <td><a href="http://cn.bing.com/academic/search?q=hitoshi+okamura" target="_blank">hitoshi okamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hitoshi+okamura+waseda+university" target = "_blank">926</a></td>
            </tr>
            <tr>
            <td>27</td>
            <td><a href="http://cn.bing.com/academic/search?q=masashi+akiyama" target="_blank">masashi akiyama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masashi+akiyama+waseda+university" target = "_blank">918</a></td>
            </tr>
            <tr>
            <td>28</td>
            <td><a href="http://cn.bing.com/academic/search?q=kenichi+oyaizu" target="_blank">kenichi oyaizu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kenichi+oyaizu+waseda+university" target = "_blank">887</a></td>
            </tr>
            <tr>
            <td>29</td>
            <td><a href="http://cn.bing.com/academic/search?q=tatsuo+nakajima" target="_blank">tatsuo nakajima</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tatsuo+nakajima+waseda+university" target = "_blank">865</a></td>
            </tr>
            <tr>
            <td>30</td>
            <td><a href="http://cn.bing.com/academic/search?q=toshikatsu+tanaka" target="_blank">toshikatsu tanaka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=toshikatsu+tanaka+waseda+university" target = "_blank">863</a></td>
            </tr>
            <tr>
            <td>31</td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+kanehisa" target="_blank">hiroaki kanehisa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hiroaki+kanehisa+waseda+university" target = "_blank">852</a></td>
            </tr>
            <tr>
            <td>32</td>
            <td><a href="http://cn.bing.com/academic/search?q=shinichi+ishiwata" target="_blank">shinichi ishiwata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shinichi+ishiwata+waseda+university" target = "_blank">840</a></td>
            </tr>
            <tr>
            <td>33</td>
            <td><a href="http://cn.bing.com/academic/search?q=hitoshi+kurumizaka" target="_blank">hitoshi kurumizaka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hitoshi+kurumizaka+waseda+university" target = "_blank">839</a></td>
            </tr>
            <tr>
            <td>34</td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuo+fukunaga" target="_blank">tetsuo fukunaga</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuo+fukunaga+waseda+university" target = "_blank">832</a></td>
            </tr>
            <tr>
            <td>35</td>
            <td><a href="http://cn.bing.com/academic/search?q=iwao+ohdomari" target="_blank">iwao ohdomari</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=iwao+ohdomari+waseda+university" target = "_blank">791</a></td>
            </tr>
            <tr>
            <td>36</td>
            <td><a href="http://cn.bing.com/academic/search?q=noboru+ichinose" target="_blank">noboru ichinose</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=noboru+ichinose+waseda+university" target = "_blank">786</a></td>
            </tr>
            <tr>
            <td>37</td>
            <td><a href="http://cn.bing.com/academic/search?q=masayuki+yamato" target="_blank">masayuki yamato</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masayuki+yamato+waseda+university" target = "_blank">785</a></td>
            </tr>
            <tr>
            <td>38</td>
            <td><a href="http://cn.bing.com/academic/search?q=ichiro+terasaki" target="_blank">ichiro terasaki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=ichiro+terasaki+waseda+university" target = "_blank">759</a></td>
            </tr>
            <tr>
            <td>39</td>
            <td><a href="http://cn.bing.com/academic/search?q=kenji+takizawa" target="_blank">kenji takizawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kenji+takizawa+waseda+university" target = "_blank">756</a></td>
            </tr>
            <tr>
            <td>40</td>
            <td><a href="http://cn.bing.com/academic/search?q=hideo+namiki" target="_blank">hideo namiki</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hideo+namiki+waseda+university" target = "_blank">743</a></td>
            </tr>
            <tr>
            <td>41</td>
            <td><a href="http://cn.bing.com/academic/search?q=shuichi+shoji" target="_blank">shuichi shoji</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shuichi+shoji+waseda+university" target = "_blank">738</a></td>
            </tr>
            <tr>
            <td>42</td>
            <td><a href="http://cn.bing.com/academic/search?q=shuji+hashimoto" target="_blank">shuji hashimoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shuji+hashimoto+waseda+university" target = "_blank">729</a></td>
            </tr>
            <tr>
            <td>43</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiaki+uesu" target="_blank">yoshiaki uesu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiaki+uesu+waseda+university" target = "_blank">727</a></td>
            </tr>
            <tr>
            <td>44</td>
            <td><a href="http://cn.bing.com/academic/search?q=steven+p+denbaars" target="_blank">steven p denbaars</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=steven+p+denbaars+waseda+university" target = "_blank">721</a></td>
            </tr>
            <tr>
            <td>45</td>
            <td><a href="http://cn.bing.com/academic/search?q=tayfun+e+tezduyar" target="_blank">tayfun e tezduyar</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tayfun+e+tezduyar+waseda+university" target = "_blank">712</a></td>
            </tr>
            <tr>
            <td>46</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuhiko+nakamura" target="_blank">yasuhiko nakamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuhiko+nakamura+waseda+university" target = "_blank">705</a></td>
            </tr>
            <tr>
            <td>47</td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiyuki+sugahara" target="_blank">yoshiyuki sugahara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yoshiyuki+sugahara+waseda+university" target = "_blank">673</a></td>
            </tr>
            <tr>
            <td>48</td>
            <td><a href="http://cn.bing.com/academic/search?q=mitsuo+umezu" target="_blank">mitsuo umezu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mitsuo+umezu+waseda+university" target = "_blank">671</a></td>
            </tr>
            <tr>
            <td>49</td>
            <td><a href="http://cn.bing.com/academic/search?q=kotaro+hirasawa" target="_blank">kotaro hirasawa</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kotaro+hirasawa+waseda+university" target = "_blank">667</a></td>
            </tr>
            <tr>
            <td>50</td>
            <td><a href="http://cn.bing.com/academic/search?q=shuji+nakamura" target="_blank">shuji nakamura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shuji+nakamura+waseda+university" target = "_blank">647</a></td>
            </tr>
            <tr>
            <td>51</td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeki+sugano" target="_blank">shigeki sugano</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shigeki+sugano+waseda+university" target = "_blank">633</a></td>
            </tr>
            <tr>
            <td>52</td>
            <td><a href="http://cn.bing.com/academic/search?q=s+keller" target="_blank">s keller</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=s+keller+waseda+university" target = "_blank">625</a></td>
            </tr>
            <tr>
            <td>53</td>
            <td><a href="http://cn.bing.com/academic/search?q=u+k+mishra" target="_blank">u k mishra</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=u+k+mishra+waseda+university" target = "_blank">625</a></td>
            </tr>
            <tr>
            <td>54</td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+lin" target="_blank">lin lin</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lin+lin+waseda+university" target = "_blank">612</a></td>
            </tr>
            <tr>
            <td>55</td>
            <td><a href="http://cn.bing.com/academic/search?q=akio+chiba" target="_blank">akio chiba</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akio+chiba+waseda+university" target = "_blank">581</a></td>
            </tr>
            <tr>
            <td>56</td>
            <td><a href="http://cn.bing.com/academic/search?q=shinji+takeoka" target="_blank">shinji takeoka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shinji+takeoka+waseda+university" target = "_blank">579</a></td>
            </tr>
            <tr>
            <td>57</td>
            <td><a href="http://cn.bing.com/academic/search?q=hunok+lim" target="_blank">hunok lim</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hunok+lim+waseda+university" target = "_blank">573</a></td>
            </tr>
            <tr>
            <td>58</td>
            <td><a href="http://cn.bing.com/academic/search?q=tomoaki+sakano" target="_blank">tomoaki sakano</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tomoaki+sakano+waseda+university" target = "_blank">573</a></td>
            </tr>
            <tr>
            <td>59</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+funatsu" target="_blank">takashi funatsu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+funatsu+waseda+university" target = "_blank">551</a></td>
            </tr>
            <tr>
            <td>60</td>
            <td><a href="http://cn.bing.com/academic/search?q=lily+yan" target="_blank">lily yan</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=lily+yan+waseda+university" target = "_blank">550</a></td>
            </tr>
            <tr>
            <td>61</td>
            <td><a href="http://cn.bing.com/academic/search?q=m+nagumo" target="_blank">m nagumo</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=m+nagumo+waseda+university" target = "_blank">547</a></td>
            </tr>
            <tr>
            <td>62</td>
            <td><a href="http://cn.bing.com/academic/search?q=kazutoshi+yamamoto" target="_blank">kazutoshi yamamoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kazutoshi+yamamoto+waseda+university" target = "_blank">540</a></td>
            </tr>
            <tr>
            <td>63</td>
            <td><a href="http://cn.bing.com/academic/search?q=sachiko+ono" target="_blank">sachiko ono</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=sachiko+ono+waseda+university" target = "_blank">535</a></td>
            </tr>
            <tr>
            <td>64</td>
            <td><a href="http://cn.bing.com/academic/search?q=kuniki+kino" target="_blank">kuniki kino</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kuniki+kino+waseda+university" target = "_blank">534</a></td>
            </tr>
            <tr>
            <td>65</td>
            <td><a href="http://cn.bing.com/academic/search?q=jean+l+johnson" target="_blank">jean l johnson</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jean+l+johnson+waseda+university" target = "_blank">509</a></td>
            </tr>
            <tr>
            <td>66</td>
            <td><a href="http://cn.bing.com/academic/search?q=shin+ichi+ishiwata" target="_blank">shin ichi ishiwata</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shin+ichi+ishiwata+waseda+university" target = "_blank">509</a></td>
            </tr>
            <tr>
            <td>67</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasufumi+shigeyoshi" target="_blank">yasufumi shigeyoshi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasufumi+shigeyoshi+waseda+university" target = "_blank">505</a></td>
            </tr>
            <tr>
            <td>68</td>
            <td><a href="http://cn.bing.com/academic/search?q=shuzo+yamamoto" target="_blank">shuzo yamamoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shuzo+yamamoto+waseda+university" target = "_blank">505</a></td>
            </tr>
            <tr>
            <td>69</td>
            <td><a href="http://cn.bing.com/academic/search?q=george+e+bentley" target="_blank">george e bentley</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=george+e+bentley+waseda+university" target = "_blank">501</a></td>
            </tr>
            <tr>
            <td>70</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+matsumoto" target="_blank">takashi matsumoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+matsumoto+waseda+university" target = "_blank">499</a></td>
            </tr>
            <tr>
            <td>71</td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+ishiyama" target="_blank">atsushi ishiyama</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=atsushi+ishiyama+waseda+university" target = "_blank">498</a></td>
            </tr>
            <tr>
            <td>72</td>
            <td><a href="http://cn.bing.com/academic/search?q=chuhei+oshima" target="_blank">chuhei oshima</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=chuhei+oshima+waseda+university" target = "_blank">494</a></td>
            </tr>
            <tr>
            <td>73</td>
            <td><a href="http://cn.bing.com/academic/search?q=junzo+watada" target="_blank">junzo watada</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=junzo+watada+waseda+university" target = "_blank">493</a></td>
            </tr>
            <tr>
            <td>74</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kato" target="_blank">takashi kato</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+kato+waseda+university" target = "_blank">490</a></td>
            </tr>
            <tr>
            <td>75</td>
            <td><a href="http://cn.bing.com/academic/search?q=isao+shinohara" target="_blank">isao shinohara</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=isao+shinohara+waseda+university" target = "_blank">487</a></td>
            </tr>
            <tr>
            <td>76</td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+torii" target="_blank">takashi torii</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takashi+torii+waseda+university" target = "_blank">486</a></td>
            </tr>
            <tr>
            <td>77</td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+yamamoto" target="_blank">yusuke yamamoto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yusuke+yamamoto+waseda+university" target = "_blank">482</a></td>
            </tr>
            <tr>
            <td>78</td>
            <td><a href="http://cn.bing.com/academic/search?q=jinglu+hu" target="_blank">jinglu hu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jinglu+hu+waseda+university" target = "_blank">475</a></td>
            </tr>
            <tr>
            <td>79</td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+uedono" target="_blank">akira uedono</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akira+uedono+waseda+university" target = "_blank">475</a></td>
            </tr>
            <tr>
            <td>80</td>
            <td><a href="http://cn.bing.com/academic/search?q=fumiyo+toyoda" target="_blank">fumiyo toyoda</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=fumiyo+toyoda+waseda+university" target = "_blank">474</a></td>
            </tr>
            <tr>
            <td>81</td>
            <td><a href="http://cn.bing.com/academic/search?q=john+b+cullen" target="_blank">john b cullen</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=john+b+cullen+waseda+university" target = "_blank">472</a></td>
            </tr>
            <tr>
            <td>82</td>
            <td><a href="http://cn.bing.com/academic/search?q=takayoshi+ubuka" target="_blank">takayoshi ubuka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takayoshi+ubuka+waseda+university" target = "_blank">466</a></td>
            </tr>
            <tr>
            <td>83</td>
            <td><a href="http://cn.bing.com/academic/search?q=kohtaro+kirimura" target="_blank">kohtaro kirimura</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kohtaro+kirimura+waseda+university" target = "_blank">464</a></td>
            </tr>
            <tr>
            <td>84</td>
            <td><a href="http://cn.bing.com/academic/search?q=mitsuru+higuchi" target="_blank">mitsuru higuchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=mitsuru+higuchi+waseda+university" target = "_blank">462</a></td>
            </tr>
            <tr>
            <td>85</td>
            <td><a href="http://cn.bing.com/academic/search?q=jay+c+dunlap" target="_blank">jay c dunlap</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jay+c+dunlap+waseda+university" target = "_blank">460</a></td>
            </tr>
            <tr>
            <td>86</td>
            <td><a href="http://cn.bing.com/academic/search?q=hajime+tei" target="_blank">hajime tei</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=hajime+tei+waseda+university" target = "_blank">460</a></td>
            </tr>
            <tr>
            <td>87</td>
            <td><a href="http://cn.bing.com/academic/search?q=seiichi+takekida" target="_blank">seiichi takekida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=seiichi+takekida+waseda+university" target = "_blank">460</a></td>
            </tr>
            <tr>
            <td>88</td>
            <td><a href="http://cn.bing.com/academic/search?q=jennifer+j+loros" target="_blank">jennifer j loros</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=jennifer+j+loros+waseda+university" target = "_blank">460</a></td>
            </tr>
            <tr>
            <td>89</td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+goto" target="_blank">satoshi goto</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=satoshi+goto+waseda+university" target = "_blank">460</a></td>
            </tr>
            <tr>
            <td>90</td>
            <td><a href="http://cn.bing.com/academic/search?q=kouji+taguchi" target="_blank">kouji taguchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=kouji+taguchi+waseda+university" target = "_blank">460</a></td>
            </tr>
            <tr>
            <td>91</td>
            <td><a href="http://cn.bing.com/academic/search?q=masato+kobayashi" target="_blank">masato kobayashi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masato+kobayashi+waseda+university" target = "_blank">459</a></td>
            </tr>
            <tr>
            <td>92</td>
            <td><a href="http://cn.bing.com/academic/search?q=masasuke+yoshida" target="_blank">masasuke yoshida</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=masasuke+yoshida+waseda+university" target = "_blank">457</a></td>
            </tr>
            <tr>
            <td>93</td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+speck" target="_blank">j s speck</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=j+s+speck+waseda+university" target = "_blank">453</a></td>
            </tr>
            <tr>
            <td>94</td>
            <td><a href="http://cn.bing.com/academic/search?q=koichiro+oka" target="_blank">koichiro oka</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=koichiro+oka+waseda+university" target = "_blank">453</a></td>
            </tr>
            <tr>
            <td>95</td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuya+shiromizu" target="_blank">tetsuya shiromizu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=tetsuya+shiromizu+waseda+university" target = "_blank">449</a></td>
            </tr>
            <tr>
            <td>96</td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+nakanishi" target="_blank">takuya nakanishi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=takuya+nakanishi+waseda+university" target = "_blank">444</a></td>
            </tr>
            <tr>
            <td>97</td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+kawakami" target="_blank">yasuo kawakami</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=yasuo+kawakami+waseda+university" target = "_blank">441</a></td>
            </tr>
            <tr>
            <td>98</td>
            <td><a href="http://cn.bing.com/academic/search?q=t+onuma" target="_blank">t onuma</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=t+onuma+waseda+university" target = "_blank">440</a></td>
            </tr>
            <tr>
            <td>99</td>
            <td><a href="http://cn.bing.com/academic/search?q=akihiko+kikuchi" target="_blank">akihiko kikuchi</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=akihiko+kikuchi+waseda+university" target = "_blank">431</a></td>
            </tr>
            <tr>
            <td>100</td>
            <td><a href="http://cn.bing.com/academic/search?q=shingo+mabu" target="_blank">shingo mabu</a></td>
            <td><a href="http://cn.bing.com/academic/search?q=shingo+mabu+waseda+university" target = "_blank">429</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer>
  <p align="center">All data from a collection of Microsoft oxford academic API in 2016-05-01</p>
  <p align="center">Author: Liukun</p>
  </footer>
</html>
