
        <!DOCTYPE html>
        <html>
          <head>	  
            <meta charset="utf-8">
            <title>Paper Hero</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
            <style type="text/css">
                body
                {
                padding-bottom: 60px;
                }
                .insti-label
                {
                    height:120px;
                    background:#FFF8DC;
                    text-align:center;
                    vertical-align:middle;
                    margin-bottom:1em;           
                }
            </style>
          </head>
          <body>  
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="jumbotron">
                            <h1>
                                <font face="微软雅黑" color="#8B008B">★高校paper英雄榜</strong></font>
                            </h1>
                            <h2>College Academic</h2>
                            <p>
                                根据从微软学术收集到数据，分析列举各个高校学者论文被引用次数的排行。
                            </p>
                        </div>
                    </div>
                </div>
         <div class="row clearfix">
             <div class="col-md-4 column">
                <h2 style="background-color:#FFFACD">
                   Beihang University
                </h2>
                <p>
                    <a class="btn" href="pages/beihang university.html">Beihang University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#F5FFFA">
                   Beijing Institute of Technology
                </h2>
                <p>
                    <a class="btn" href="pages/beijing institute of technology.html">Beijing Institute of Technology</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFFACD">
                   Fudan University
                </h2>
                <p>
                    <a class="btn" href="pages/fudan university.html">Fudan University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFE4E1">
                   Harvard University
                </h2>
                <p>
                    <a class="btn" href="pages/harvard university.html">Harvard University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#F5F5F5">
                   Hong Kong University of Science and Technology
                </h2>
                <p>
                    <a class="btn" href="pages/hong kong university of science and technology.html">Hong Kong University of Science and Technology</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFFFE0">
                   Keio University
                </h2>
                <p>
                    <a class="btn" href="pages/keio university.html">Keio University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#F8F8FF, #F5F5DC">
                   Massachusetts Institute of Technology
                </h2>
                <p>
                    <a class="btn" href="pages/massachusetts institute of technology.html">Massachusetts Institute of Technology</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFE4E1">
                   Nanjing University of Aeronautics
                </h2>
                <p>
                    <a class="btn" href="pages/nanjing university of aeronautics.html">Nanjing University of Aeronautics</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#DCDCDC">
                   Nanjing University of Science and Technology
                </h2>
                <p>
                    <a class="btn" href="pages/nanjing university of science and technology.html">Nanjing University of Science and Technology</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFFFE0">
                   Nanjing University
                </h2>
                <p>
                    <a class="btn" href="pages/nanjing university.html">Nanjing University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FAFAD2">
                   Peking University
                </h2>
                <p>
                    <a class="btn" href="pages/peking university.html">Peking University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FAFAD2">
                   Shanghai Jiao Tong University
                </h2>
                <p>
                    <a class="btn" href="pages/shanghai jiao tong university.html">Shanghai Jiao Tong University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFE4E1">
                   Stanford University
                </h2>
                <p>
                    <a class="btn" href="pages/stanford university.html">Stanford University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#DCDCDC">
                   sun yat sen University
                </h2>
                <p>
                    <a class="btn" href="pages/sun yat sen university.html">sun yat sen University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#F5FFFA">
                   Tsinghua University
                </h2>
                <p>
                    <a class="btn" href="pages/tsinghua university.html">Tsinghua University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#F5F5F5">
                   University of Cambridge
                </h2>
                <p>
                    <a class="btn" href="pages/university of cambridge.html">University of Cambridge</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FAFAD2">
                   University of Hong Kong
                </h2>
                <p>
                    <a class="btn" href="pages/university of hong kong.html">University of Hong Kong</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFE4E1">
                   University of Science and Technology of China
                </h2>
                <p>
                    <a class="btn" href="pages/university of science and technology of china.html">University of Science and Technology of China</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFFACD">
                   University of Tokyo
                </h2>
                <p>
                    <a class="btn" href="pages/university of tokyo.html">University of Tokyo</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FFFACD">
                   Waseda University
                </h2>
                <p>
                    <a class="btn" href="pages/waseda university.html">Waseda University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#FAFAD2">
                   Wuhan University
                </h2>
                <p>
                    <a class="btn" href="pages/wuhan university.html">Wuhan University</a>
                </p>
            </div>
            
             <div class="col-md-4 column">
                <h2 style="background-color:#DCDCDC">
                   Zhejiang University
                </h2>
                <p>
                    <a class="btn" href="pages/zhejiang university.html">Zhejiang University</a>
                </p>
            </div>
            </div>
                </div>
        </div>
    </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer style="bottom: 0; margin-top: 20px;">
    <p align="center">All data from a collection of Microsoft oxford academic API in 2016-05-01</p>
    <p align="center">Autogenerated By Liukun's PC</p>
  </footer>
</html>
    